<div *ngIf="!value && !editvalue">
    <h4>Wishlists</h4>
    <p style="text-align:center;"><a class="forpsize" href="javascript:void(0)">Create new Wishlist</a></p>
    <br>
    <ul>
      <li class="row"><div class="col-md-12" style="text-align:left;"><a (click)="onWishClick()"class="customcolor" href="javascript:void(0)">sampleArt<span class="forpsize">(1)</span></a><span style="float:right;"><a href="javascript:void(0)" (click)="onEditClick()">edit</a></span></div></li>
    </ul>
    <hr>
</div>
<app-wishlist-view *ngIf="value" [listName]= "sampleArt"></app-wishlist-view>
<app-wishlist-edit *ngIf="editvalue"></app-wishlist-edit>