.customcolor{
    color: #18a9c4!important;
    font-size: 16px;
}

.customcolor:hover{
    color: #92c418!important;
}

a{
   color: #23527c;  
   font-size:12px;
}

.forpsize{
    color: #909090 !important;
    font-size:12px;
}