.banner {
    background-image: url("./banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
    padding-top: 35px;
}

.banner-search-input {
    padding: 8px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.banner-search-button {
    background-color: #2e3333;
    border: 1px solid #999;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}

.smallsearch {
    margin-left: 130px;
    margin-top: 15px;
    margin-right: 10x;
}

.search-wrapper h2 {
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
}

.search-wrapper .first-child {
    color: #e8e8e8;
    font-size: 20px;
    line-height: 30px;
}

.search-wrapper .second-child {
    color: #ffffff;
    font-size: 50px;
}

.smallsearch input[placeholder] {
    font-size: 30px;
    font-family: "Arial,Helvetica,sans-serif" !important;
    color: #666666 !important;
    font-weight: 100px!important;
}

.smallsearch button {
    min-height: 64px !important;
}

.smallsearch button i {
    font-size: 20px;
    color: #ffffff
}


.smallsearch input {
    width: 80% !important;
}


@media (min-width: 1200px) {
    .search-wrapper {
        width: 1055px !important;
    }
}

.banner-footer {
    background-color: #2e3333;
    margin-bottom: 0px;
    height: 40px;
    padding-top: 1px;
}

.banner-footer h4 {
    text-align: center;
    font-family: Raleway;
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
}









/* css for cards in container*/

.cards-container {
    background-color: #eee;
    padding-top: 45px;
    padding-bottom: 30px;
}

.cards-container>.container {
    display: flex;
}

.image-footer {
    background-color: #ffffff;
    position: relative;
    height: 42px;
    margin: 0;
    border-top: 1px solid #dedede;
    box-sizing: content-box;
}

.image-footer h3 {
    margin: 0px;
}

.cards-container img {
    width: 100% !important;
    height: 160px !important;
}

.card {
    box-shadow: 0px 0px 3px 0 rgba(0, 0, 0, 0.3);
    transition: 0.3s;
    border-radius: 5px;
    padding: 0px;
    margin-right: 15px;
    width: 270px;
    /* 5px rounded corners */
}

.hovereffect {
    cursor: pointer;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
}

.card:hover .card-image {
    opacity: 0.3;
}

.card:hover .overlay {
    background: url('./zoom.light.png') center center no-repeat;
    opacity: 1;
    top: -10px;
}

.image-footer h3 {
    margin: 8px;
    font-size: 20px;
    float: left;
}

.image-footer button {
    float: right;
    margin: 7px;
    opacity: 0;
    padding: 1px;
}

.card:hover .image-footer .btn {
    opacity: 1;
}








/* css for designs content*/

.design-container {
    background: #ffffff url('./content-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 117px;
    padding-right: 147px;
}

.design-content {
    max-width: 1055px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.design-info {
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    line-height: 24px;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    padding-right: 10%;
    padding-left: 10%
}

.design-line-holder {
    min-width: 10%;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto
}

.design-line {
    border-top: 1px solid #EBEBEB;
    border-top-width: 3px;
    display: block;
    border-color: #ff3d00;
}

.design-heder {
    display: flex;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.design-heder h4 {
    font-size: 29px;
    color: #ffffff;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 0px 10px 0px 10px;
}

.design-wrapper {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.design-images {
    padding-right: 75px
}

.search-stock-content {
    max-width: 1055px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    padding-top: 35px;
}

.search-stock-header {
    font-size: 30px;
    color: #114c7f;
    text-align: center;
    font-weight: 400;
    font-style: normal;
}

.search-inner-content li {
    display: inline-block;
    padding: 10px;
    text-align: center;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.search-inner-content li a {
    color: #114c7f;
    font-size: 16px;
}







/*sign up container*/

.signup-container {
    background-color: #00aed6
}

.signup-content {
    max-width: 1085px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

.signup-header {
    margin-bottom: 35px;
}

.signup-header p {
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
    line-height: 40px;
}

.signup-button {
    text-align: center;
}

.signup-button a {
    display: inline-block;
    color: #666;
    border-color: #EBEBEB;
    background-color: #EBEBEB;
    padding: 14px 20px;
    border-radius: 5px;
}