<div>
    <div class="banner">
        <div class="container search-wrapper">
            <div @bannerAnimations>
                <h2 class="first-child">Royalty-free images, vectors and Illustrations</h2>
                <h2 class="second-child"> We think out of the box for your search</h2>
            </div>
            <div class="banner-search smallsearch ">
                <div class="row">
                    <input class="banner-search-input col-md-11" type="" placeholder="Search Vectors,Images,Logos,Icons,Designs etc." name="">
                    <button class="banner-search-button col-md-1">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-footer">
        <h4>Design solutions for agency and enterprise. Register now for a free account!</h4>
    </div>
</div>
<div class="cards-container">
    <div class="container cards-inner-container">
        <div class="card col-md-3">
            <div class="hovereffect">
                <img class="card-image" src="../assets/images/img-marketplace-cm-image07.jpg" alt="">
                <div class="overlay">
                </div>
            </div>
            <div class="image-footer">
                <h3>Images</h3>
                <div>
                    <button type="button" class="btn btn-primary">View More</button>
                </div>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="hovereffect">
                <img class="card-image" src="../assets/images/vector.jpg" alt="">
                <div class="overlay">
                </div>
            </div>
            <div class="image-footer">
                <h3>Vectors</h3>
                <div>
                    <button type="button" class="btn btn-primary">View More</button>
                </div>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="hovereffect">
                <img class="card-image" src="../assets/images/infographics.jpg" alt="">
                <div class="overlay">
                </div>
            </div>
            <div class="image-footer">
                <h3>Infogrphics</h3>
                <div>
                    <button type="button" class="btn btn-primary">View More</button>
                </div>
            </div>
        </div>
        <div class="card col-md-3">
            <div class="hovereffect">
                <img class="card-image" src="../assets/images/icons.jpg" alt="">
                <div class="overlay">
                </div>
            </div>
            <div class="image-footer">
                <h3>Icons</h3>
                <div>
                    <button type="button" class="btn btn-primary">View More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="design-container">
    <div class="design-content">
        <div class="design-wrapper">
            <div class="design-heder">
                <span class="design-line-holder">
            <span class="design-line"></span>
                </span>
                <h4>Great Designs for Great Business</h4>
                <span class="design-line-holder">
                <span class="design-line"></span>
                </span>
            </div>
            <h2 class="design-info">It is imperative that your brand and marketing channels carry a strong message. If your messaging is off the mark, whatever you say will be ineffective. Effective branding communication and media requires good engaging content for the end user. Content goes beyond words and pretty pictures on a page or on screen. It now includes the use of rich media such as video, animation, data visualization, infographics and illustrations to project your desired message.</h2>
            <span class="design-images">
                <img src="../assets/images/vector.png">
            </span>
            <span class="design-images">
                <img src="../assets/images/image.png">
            </span>
            <span class="design-images">
                <img src="../assets/images/user.png">
            </span>
        </div>
    </div>
</div>
<div class="search-stock-container">
    <div class="search-stock-content">
        <div class="search-inner-content">
            <h2 class="search-stock-header">
                Search stock from these popular categories.
            </h2>
            <li class="cat-item cat-item-522"><a href="https://www.vectorsale.com/item/category/abstracts/">Abstracts</a>
            </li>
            <li class="cat-item cat-item-503"><a href="https://www.vectorsale.com/item/category/animals-wildlife/">Animals / Wildlife</a>
            </li>
            <li class="cat-item cat-item-523"><a href="https://www.vectorsale.com/item/category/arts/">Arts</a>
            </li>
            <li class="cat-item cat-item-520"><a href="https://www.vectorsale.com/item/category/backgrounds-textures/">Backgrounds / Textures</a>
            </li>
            <li class="cat-item cat-item-505"><a href="https://www.vectorsale.com/item/category/banners-brochure/">Banners / Brochure</a>
            </li>
            <li class="cat-item cat-item-1162"><a href="https://www.vectorsale.com/item/category/buildings-and-landmarks/">Buildings and Landmarks</a>
            </li>
            <li class="cat-item cat-item-507"><a href="https://www.vectorsale.com/item/category/business-finance/">Business / Finance</a>
            </li>
            <li class="cat-item cat-item-508"><a href="https://www.vectorsale.com/item/category/cartoon/">Cartoon</a>
            </li>
            <li class="cat-item cat-item-478"><a href="https://www.vectorsale.com/item/category/corporate-html/">Corporate</a>
            </li>
            <li class="cat-item cat-item-479"><a href="https://www.vectorsale.com/item/category/creative/">Creative</a>
            </li>
            <li class="cat-item cat-item-509"><a href="https://www.vectorsale.com/item/category/design-elements/">Design elements</a>
            </li>
            <li class="cat-item cat-item-1026"><a href="https://www.vectorsale.com/item/category/designs/">Designs</a>
            </li>
            <li class="cat-item cat-item-528"><a href="https://www.vectorsale.com/item/category/festivals-celebrations/">Festivals / Celebrations</a>
            </li>
            <li class="cat-item cat-item-532"><a href="https://www.vectorsale.com/item/category/food-and-drink/">Food and Drink</a>
            </li>
            <li class="cat-item cat-item-177"><a href="https://www.vectorsale.com/item/category/graphics/">Graphics</a>
            </li>
            <li class="cat-item cat-item-511"><a href="https://www.vectorsale.com/item/category/icons/">Icons</a>
            </li>
            <li class="cat-item cat-item-514"><a href="https://www.vectorsale.com/item/category/illustrations/">Illustrations</a>
            </li>
            <li class="cat-item cat-item-513"><a href="https://www.vectorsale.com/item/category/images/">Images</a>
            </li>
            <li class="cat-item cat-item-526"><a href="https://www.vectorsale.com/item/category/infographics/">Infographics</a>
            </li>
            <li class="cat-item cat-item-1163"><a href="https://www.vectorsale.com/item/category/monuments/">Monuments</a>
            </li>
            <li class="cat-item cat-item-515"><a href="https://www.vectorsale.com/item/category/nature/">Nature</a>
            </li>
            <li class="cat-item cat-item-517"><a href="https://www.vectorsale.com/item/category/objects/">Objects</a>
            </li>
            <li class="cat-item cat-item-521"><a href="https://www.vectorsale.com/item/category/patterns/">Patterns</a>
            </li>
            <li class="cat-item cat-item-510"><a href="https://www.vectorsale.com/item/category/people-and-life/">People and Life</a>
            </li>
            <li class="cat-item cat-item-1164"><a href="https://www.vectorsale.com/item/category/religion-and-culture/">Religion and Culture</a>
            </li>
            <li class="cat-item cat-item-531"><a href="https://www.vectorsale.com/item/category/science-and-technology/">Science and Technology</a>
            </li>
            <li class="cat-item cat-item-534"><a href="https://www.vectorsale.com/item/category/signs-and-symbols/">Signs and symbols</a>
            </li>
            <li class="cat-item cat-item-518"><a href="https://www.vectorsale.com/item/category/silhouettes/">Silhouettes</a>
            </li>
            <li class="cat-item cat-item-524"><a href="https://www.vectorsale.com/item/category/transport/">Transport</a>
            </li>
            <li class="cat-item cat-item-512"><a href="https://www.vectorsale.com/item/category/vectors/">Vectors</a>
            </li>
            <li class="cat-item cat-item-525"><a href="https://www.vectorsale.com/item/category/web/">Web</a>
            </li>
        </div>
    </div>
</div>
<div class="signup-container">
    <div class="signup-content">
        <div class="signup-inner-content">
            <div class="signup-header">
                <p>Signup and get your&nbsp;instant free download</p>
            </div>
            <div class="signup-button">
                <a href="https://www.vectorsale.com/registration/" title="">Signup Now</a>
            </div>
        </div>
    </div>
</div>