.forpsize{
    color: #909090;
    font-size:12px;
}

.custombtn{
    background-color: #2cbd9b;
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 10px;
    color:#ffffff;    
}
.custombtn:hover{
    background-color: #ff9353 !important;
}