<h4>Purchase History</h4>
<table class="col-md-12">
  <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
    <tr>
      <th>
          Id
      </th>
      <th>
          Date
      </th>
      <th>
          Amount
      </th>
      <th>
          Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let details of purchasedetails">
      <td><label class="forpsize">{{details.id}}</label></td>
      <td><label class="forpsize">{{details.date}}</label></td>
      <td><label class="forpsize">{{details.amount}}</label></td>
      <td><label><a type = "button" class="custombtn" href="javascript:void(0)">VIEW DETAILS AND DOWNLOADS</a><br/>
         </label></td>
    </tr>
      <tr *ngIf="purchasedetails.length==0">
        <td class="forpsize">No purchase history</td>

      </tr>
    
  </tbody>
</table>
<hr>
