<div class="article-list">
    <div class="container">
      <h5 class="m-b-20"><b>Unpaid Commissions</b></h5>
      <table class="col-md-12 m-b-20">
          <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
          <tr >
            <th>Item</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of unpaidListdata">
            <td>{{list.item}}</td>
            <td>{{list.price}}</td>
            <td>{{list.rate}}</td>
            <td>{{list.date}}</td>
          </tr>
          <tr *ngIf="unpaidListdata.length==0">
              <td class="forpsize">No unpaid commissions</td>
          </tr>
        </tbody>
      </table>
      <div class="unpaidTotal m-b-20">Total unpaid: $0</div>
      <h5 class="m-b-20"><b>Paid Commissions</b></h5>
      <table class="col-md-12 m-b-20">
          <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
          <tr >
            <th>Item</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of paidListdata">
            <td>{{list.item}}</td>
            <td>{{list.price}}</td>
            <td>{{list.rate}}</td>
            <td>{{list.date}}</td>
          </tr>
          <tr *ngIf="paidListdata.length==0">
              <td class="forpsize">No paid commissions</td>
          </tr>
        </tbody>
      </table>
      <div class="paidTotal m-b-20">Total paid: $0</div>
      <h5 class="m-b-20"><b>Revoked Commissions</b></h5>
      <table class="col-md-12 m-b-20">
          <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
          <tr >
            <th>Item</th>
            <th>Amount</th>
            <th>Rate</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of revokedListdata">
            <td>{{list.item}}</td>
            <td>{{list.price}}</td>
            <td>{{list.rate}}</td>
            <td>{{list.date}}</td>
          </tr>
          <tr *ngIf="revokedListdata.length==0">
              <td class="forpsize">No revoked commissions</td>
          </tr>
        </tbody>
      </table>
      <div class="m-b-20">Total revoked: $0</div>
    </div>
</div>