<div class="pagetitle">
    <div class="container-fluid">
        <h4>About Us - vectorsale</h4>
    </div>
</div>
<div class="about-container">
    <div class="container">
        <div class="col-md-12 col-sm-12">
            <div class="m-t-50">
                <p>Vectorsale is being worlds largest marketplace, providing wide range of stock Images, Vectors, Illustrations for sale. Its been an multi driven platform for buying and sellers. Accepts high quality creative stock from worlds professional Graphic designers, photographers, artists.</p>
            </div>
            <div class="m-t-30 m-b-10">
                <div>
                    <h2>Learn why it’s worthwhile selling your work here.</h2>
                </div>
                <div class="list m-t-30 row">
                    <div class="col-md-4">
                        <h3>CONTRIBUTOR ACCESS</h3>
                        <div class="desc">Any one can create an contributor account and get an authorized permission to submit their stock, Every approved contributor can access their dashboard from our stock maintenance system.
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>OPEN TO THE WORLD</h3>
                        <div class="desc">Expose and sell your work to a large audience through out the world. Vectorsale make your stock expose to huge quantity of customers.</div>
                    </div>
                    <div class="col-md-4">
                        <h3>EARN A MONTHLY PROFIT</h3>
                        <div class="desc">Choose the skill that adapts to your work and start earning money. No monthly limit, earn monthly earnings straight forward into your PayPal account.</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12">
                <div class="text-center">
                    <h3>Great Designs for Great Business</h3>
                </div>
                <h4 class="m-t-30 m-b-30">It is imperative that your brand and marketing channels carry a strong message. If your messaging is off the mark, whatever you say will be ineffective. Effective branding communication and media requires good engaging content for the end user. Content goes beyond words and pretty pictures on a page or on screen. It now includes the use of rich media such as video, animation, data visualization, infographics and illustrations to project your desired message.</h4>
            </div>
        </div>
    </div>
</div>