.pagetitle {
    border-bottom: 0px solid #e4e4e4;
    border-top: 0px solid #e4e4e4;
    background-color: #6b953f;
    padding: 20px 0px 20px 20px;
}

.pagetitle {
    font-family: sans-serif;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    color: #fff;
    opacity: 1;
    visibility: visible;
}

.about-container {
    background-color: #eee;
}

.about-container .list h3 {
    font-size: 16px;
    color: #888888;
    font-family: "Open Sans";
    text-transform: uppercase;
    margin-top: 0;
}

.about-container .list .desc {
    font-size: 15px;
    color: #8f8f8f;
}

.about-container p {
    font-size: 14px;
    color: #565652
}

.about-container h4 {
    color: #565652;
}