<h4>Dashboard</h4>
<p class="forpsize">You've been a member since: April 2, 2018.</p>
<h6>Account overview</h6>
<hr>
<div class="row">
  <div class="col-md-4">
    <h6>Total spend</h6>
    <div><h5 class="forpricecolor">$0</h5></div>
    <span class="forpsize">since joining</span>
  </div>
  <div class="col-md-4">
      <h6>Total downloads</h6>
      <div><h5 class="text-danger">1</h5></div>
      <span class="forpsize">since joining</span>
    </div>
</div>
<hr>
<p>Subscription Details</p>
<table class="col-md-12">
  <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
    <tr>
      <th>
          Status
      </th>
      <th>
          Subscription
      </th>
      <th>
          Expiration
      </th>
      <th>
          Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let details of subscriptiondetails" >
      <td><label class="forpsize">{{details.status}}</label></td>
      <td><label class="forpsize">{{details.subscription}}</label></td>
      <td><label class="forpsize">{{details.Expiration}}</label></td>
      <td><label class="forpsize"><li class="typenone" *ngFor="let action of details.actions"><a href="javascript:void(0)" >{{action}}</a><br/>
      </li> </label></td>
    </tr>
    <tr *ngIf="subscriptiondetails.length==0">
        <td colspan=4><label class="forpsize">No records found.</label></td>
    </tr>
  </tbody>
</table>
<hr>
<table class="col-md-12">
  <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
    <tr>
      <th>
          Invoice #
      </th>
      <th>
          Subscription
      </th>
      <th>
          Amount
      </th>
      <th>
          Payment Status
      </th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let details of invoicedetails">
        <td><label class="forpsize">{{details.invoice}}</label></td>
        <td><label class="forpsize">{{details.subscription}}</label></td>
        <td><label class="forpsize">{{details.amount}}</label></td>
        <td><label class="forpsize">{{details.paymentstatus}}</label></td>
        <td><label class="forpsize">{{details.date}}</label></td>
        <td><label class="forpsize">{{details.actions}}</label></td>
    </tr>
    <tr *ngIf="invoicedetails.length==0">
        <td colspan=6><label class="forpsize">You have not made any payments.</label></td>
    </tr>
  </tbody>
</table>
<hr>