.forpsize{
    color: #909090;
    font-size:12px;
}

.forpricecolor{
    color: #0aa699;
}

label a {
    color: #337ab7;
    text-decoration: none;
    font-size: 12px
}

a:hover{
    color: #23527c !important;
}

.typenone{
    list-style-type: none;
}