.profile-page h2{
    margin-bottom: 25px;
}
.table-condensed td{
    padding: 0.55rem !important;
}
.table a{
    color:#007bff
}
.table-data{
    width: 80%;
}
tr td:last-child{
    text-align: right;
}