<div class="profile-page">
  <h2>Profile</h2>

  <div class="table-data">
      <table class="table table-condensed">    
          <tbody>
            <tr>
              <td><b>Name</b></td>
              <td>Vinay Kumar</td>
              <td><a href="javascript:void(0)">Edit</a></td>
            </tr>
            <tr>
              <td><b>User ID</b></td>
              <td>192774900</td>
              <td></td>
            </tr>
            <tr>
              <td><b>Username</b></td>
              <td>vinayvin50663</td>
              <td></td>
            </tr>
            <tr>
              <td><b>Password</b></td>
              <td>******</td>
              <td><a href="javascript:void(0)">Change password</a></td>
            </tr>
            <tr>
              <td><b>Email</b></td>
              <td>vinay.vin506@gmail.com</td>
              <td><a href="javascript:void(0)">Change email address</a></td>
            </tr>
          </tbody>
        </table>
    </div>
  
</div>