<h4>Edit Wishlist</h4>
<form>
    <div>
        <label>Title</label>
        <input type="text" class="form-control" placeholder="" required>
    </div>  
    <div>
        <label>Description</label>
        <textarea rows="5" cols="5" class="form-control p-0" placeholder="Default textarea"></textarea>
    </div> 
    <br>
    <div class="row m-0">
        <label class="  Label-margin-top"></label>
        <select class="form-control col-md-6" id="name">
            <option>Public-viewable by anyone</option>
            <option>Private-only viewable by you</option>
           
          </select>
          <div class="col-md-6"></div>
    </div>
    <br>
    <div>
        <button class="btn btn-sm custombtn m-0">Update</button>
    </div> 
    <br>
    
    


</form>
<!-- Button trigger modal -->
  <a href="javascript:void(0)" class="foracolor" data-toggle="modal" data-target="#exampleModal">Delete wish list</a>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Delete Wish list</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <p>You are about to delete this wish list, are you sure?</p>
        </div>
        <div class="modal-footer forbackground">
          <button type="button" class="btn btn-block btn-sm btnround" data-dismiss="modal">Yes, Delete this Wish list</button>
        </div>
      </div>
    </div>
  </div>

