.custombtn{
    background-color: #48C6D4;
    color:#ffffff;    
}
.custombtn:hover{
    background-color: #F66C7B !important;
}
.foracolor{
    color: #337ab7;
}
.btnround{
    border-radius: 5px;
    background-color:#61686c;
    color:#ffffff;
    font-size: 14px;
    font-weight:bold;
}
.forbackground{
    background-color:#3a3a3a;
}
.btnround:hover{
    background-color:#3a3a3a;
}

textarea {
    resize: none;
}