<div class = "container m-t-100">
    <h3><i class="fa fa-question"></i><strong> For Any Queries</strong></h3>
    <h4 class="m-t-30 line-hgt-40px">If you have any questions, please feel free to send us a message! We would love to hear from you!Please note, we will do our best to respond to any inquiries within a reasonable period of time.</h4>
    <div class="row">
        <div class="col-md-6">
            <h3>
                <i class="fa fa-contao"></i>
                <strong>Contact Us</strong></h3>    
            <form class="m-l-15 m-t-30">
                <div class="form-group row">
                    <p>Name<span>*</span></p>
                    <input class="form-control form-control-default" placeholder="Enter Your Name" type="text">
                </div>
                <div class="form-group row">
                    <p>Email</p>                        
                    <input class="form-control form-control-default" placeholder="Enter Your email" type="text">
                </div>
                <div class="form-group row">
                    <p>Subject</p>                        
                    <input class="form-control form-control-success" placeholder="Enter Your Subject" type="text">
                </div>
                <div class="form-group row">
                    <p>Message</p>
                    <textarea rows="5" class="form-control form-control-info" placeholder="Enter Your Message" type="text"></textarea>
                </div>
                <div class="m-b-30 row">
                    <button class="btn btn-info btn-small">Send</button>
                </div>
                
            </form>
        </div>
        <div class="col-md-5 m-l-10">
            <h3><i class="fa fa-book"></i><strong> Any FAQ’s</strong></h3>
            <div class="m-t-30">
                <h4 class="p-t-5">For any general or technical questions use our <a class="pointer" routerLink="/faq">FAQ’s</a></h4>
            </div>
            <div class="m-t-30">
                <h3><i class="fa fa-envelope-o"></i><strong> Reach our Customer Support</strong></h3>
            </div>
            <div class="m-t-20">
                <h4 class="line-hgt-40px">
                    Email us on :
                    Customer support : support@vectorsale.com
                    Contributor support : vectorsale.tm@gmail.com
                          
                </h4>
            </div>
            <div class="m-t-30">
                <h3 class="line-hgt-40px">
                    <i class="fa fa-building"></i>
                    <strong> Office :</strong>
                </h3>
                <h4> Hyderabad,  Telengana.</h4>
            </div>
        </div>
        
    </div>
</div>