<div *ngIf="!editView">
    <h4>{{listName}}</h4>
    <table class="col-md-12">
      <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
      <tr >
        <th>Item</th>
        <th> Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of wishlistdata">
        <td><img class= "downloadimg" src={{list.img}}><span class="m-l-10">{{list.item}}</span></td>
        <td>{{list.price}}</td>
        <td class="addbg"><a href="">Add to cart</a><span class="m-l-5" (click)="onRemove(list)"><i class="fa fa-times"></i></span></td>
      </tr>
    </tbody>
    </table>
    <hr>
    <button class="btn btn-warning btn-sm" style="float:right;">Add all to cart</button>
    <hr>
    <button class="btn btn-default btn-sm" style="float:left;"(click)="onEditSettings()">Edit Settings</button>
</div>
<app-wishlist-edit *ngIf="editView"></app-wishlist-edit>
