<div class="article-list">
    <div class="container">
      <label><b>Avatar*</b></label>
      <div class="col-md-2 imgdiv m-b-20 p-0">
        <div class="btn file btn-sm custombtn m-t-30">
          UPLOAD AVATAR
          <input class="custom-btn" type="file" name="file" accept=".jpg, .png. bmp"/>
        </div>
        <div class="m-t-30 m-b-10">
          <img src='../../../../assets/images/empty-profile.jpg' height="100%" width="100%" />
        </div>
      </div>
      <div class="m-b-20">
          <form>
              <div class="m-b-20">
                  <label><b>Name of Store*</b></label>
                  <p class="m-0"><i>What would you like your store to be called?</i></p>
                  <input type="text" class="form-control">
              </div>
              <div class="row margin-edges m-b-20">
                  <label><b>Gender*</b></label>
                  <div class="col-md-12 p-0">
                      <select class="form-control col-md-2 p-0" id="name">
                          <option>--select--</option>
                          <option>male</option>
                          <option>female</option>
                        </select>
                  </div>
              </div> 
              <div class="m-b-20">
                  <label><b>PayPal Email*</b></label>
                  <input type="text" class="form-control">
              </div>
              <div class="m-b-20">
                  <label><b>Upload ID*</b></label>
                  <p class="m-0"><i>upload ID proof (Issued by Government)</i></p>
              </div>
              <div class="m-b-20">
                  <label><b>File URL*</b></label>
                  <div class="row m-r-0">
                    <div class="col-md-11">
                        <input type="text" class="form-control">
                    </div>
                      <div>
                        <button type="button" class="btn btn-sm custombtn" (click)="openModal()">Choose file</button>
                      </div>
                  </div>
              </div>
              <div class="row margin-edges m-b-20">
                  <label><b>Country Name</b></label>
                  <div class="col-md-12 p-0">
                      <select class="form-control col-md-2 p-0" (change)='onGroupChange($event)' data-live-search="true">
                            <option>--select--</option>
                            <option *ngFor="let country of countriesList" value={{country.value}}>
                              {{country.label}}
                          </option>
                      </select>
                  </div>
              </div> 
              <div>
                  <button class="btn btn-sm custombtn">Submit</button>
              </div>
            </form>
      </div>
  </div>
</div>