div {
    position: relative;
    overflow: hidden;
  }
  .custom-btn {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
  }

  .imgdiv{
    text-align: center;
    border: 2px dashed;
    border-color: gray;
  }
  
  .margin-edges{
    margin-left: 0px;
    margin-right: 0px;
}

.custombtn{
    background-color: #48C6D4;
    color:#ffffff;    
}
.custombtn:hover{
    background-color: #F66C7B !important;
}