<div class="plans-page">
  <h2>
    Plans
  </h2>
  <div class="plans">
      <h5 >  Image Plans </h5>
    <div>
      <span>You don't have an active image plan.</span>
      <br>
      <a href="javascript:void(0)">
        <b>View Plans &amp; Pricing</b>
      </a>
    </div>


  </div>
</div>