<div class="main-body container">
    <div class="page-wrapper">
        <div class="page-header card">
            <div class="align-items-end margin-items textcolor-white">
                <div class="page-header-title">
                    <strong>Images for every project, plans for every budget.</strong> Find a plan and start downloading today.
                </div>
                <div class="row">
                    <div class="sub-container  col-md-3">
                        <div>
                            <button type="submit" class="btn btn-danger btn-sm banner-buttons">Get 10 images for $29/month</button>
                        </div>
                        <div class="text-center">
                            <span>Subscribe and Save</span>
                        </div>
                    </div>
                    <div class="sub-container col-md-3">
                        <div>
                            <button type="submit" class="btn btn-danger btn-sm banner-buttons">Get a 5 image pack for $49</button>
                        </div>
                    </div>
                    <div class="plans-link">
                        <a class="textcolor-white" href="javascript:void(0)">See all plans</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-wrapper  custombgcolor">
        <div class="page-header card">
            <div class="align-items-end margin-items">
                <div class="header-list" style="text-align:center;">
                    <a  (click)="onClick('dashboard')" href="javascript:void(0)"><i class="fa fa-tachometer"></i><span> Dashboard</span></a>
                    <a  (click)="onClick('profile')" href="javascript:void(0)"><i class="fa fa-user"></i><span>Profile</span></a>
                    <a  (click)="onClick('invoices')" href="javascript:void(0)"><i class="fa fa-newspaper-o"></i> <span>Invoices</span></a>
                    <a  (click)="onClick('purchases')" href="javascript:void(0)"><i class="fa fa-credit-card-alt"></i> <span>Purchases</span></a>
                    <a  (click)="onClick('wishlists')" href="javascript:void(0)"><i class="fa fa-star"></i> <span>Wishlists</span></a>
                    <a  (click)="onClick('vendor')" href="javascript:void(0)"><i class="fa fa-building"></i> <span>Vendor</span></a>
                    <a  (click)="onClick('logout')" href="javascript:void(0)"><i class="fa fa-sign-out"></i> <span>Logout</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2"></div>
        <div class="col-lg-8 col-xl-8 col-sm-8 col-md-8">
            <div class="card cardTop">
                <div class="card-body ">
                    <app-my-dashboard *ngIf ='myelement=="dashboard"'></app-my-dashboard>
                    <app-my-profile *ngIf ='myelement=="profile"'></app-my-profile>
                    <app-my-purchases *ngIf ='myelement=="purchases"'></app-my-purchases>
                    <app-my-invoices *ngIf ='myelement=="invoices"'></app-my-invoices>
                    <app-my-wishlist *ngIf ='myelement=="wishlists"'></app-my-wishlist>
                    <app-my-vendor *ngIf ='myelement=="vendor"'></app-my-vendor>
                </div>
            </div>
        </div>
    </div>
</div>