.margin-items {
    margin-left: 10px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.margin-items .page-header-title {
    margin-bottom: 10px
}

.plans-link {
    margin-top: 8px;
    margin-left: -20px;
}

.plans-link a {
    text-decoration: underline;
}

.sub-container span {
    font-size: 10px;
    font-weight: 700;
}

.banner-buttons {
    width: 210px;
    background-color: #cb3d3d;
}

.main-body .page-wrapper {
    padding: 5px;
}

.main-body .page-header {
    background-color:#3a3a3a;
}

.header {
    margin-top: -20px;
}

.header-message {
    float: left;
    font-family: Frank, Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 10px;
}

.header-message h4 {
    margin-top: 5px
}

.header-list a {
    color: #f5f6f8;
}

.header-container {
    display: inline;
}

.header-list i {
    margin-right: 8px;
}

.header-list span {
    margin-right: 15px;
}

.category {
    text-align: center;
}

.display-flex {
    display: flex;
}

.category-list li a {
    color: black;
}
.custombgcolor{
    background-color: #3a3a3a;
}

.cardTop{
    margin-top: -4%;
}

.textcolor-white{
    color:#fff !important;
}