<div class="article-list">
    <div class="container">
        <form>
            <div class="m-b-20">
                <div class="row margin-edges m-b-20">
                    <div class="col-md-12 p-0">
                        <label class="m-0"><b>Content Type*</b></label>
                    </div>
                    <p class="m-0"><span><i>-Select Content Type-</i></span></p>
                    <div class="col-md-12 p-0">
                        <select class="form-control col-md-2 p-0" id="name">
                            <option>Vector</option>
                            <option>Image</option>
                        </select>
                    </div>
                </div> 
                <div class="m-b-20">
                    <label class="m-0"><b>Title/Description*</b></label>
                    <p class="m-0"><span><i>Title / Description for the content</i></span></p>
                    <input type="text" class="form-control">
                </div>
                <div class="m-b-20">
                    <label class="m-0"><b>Upload Image*</b></label>
                    <p class="m-0"><span><i>Upload Image must be an "JPEG/JPG" with "300</i></span></p>
                    <p class="m-0"><span><i>dpi" and at least 4MP file</i></span></p>
                    <p class="m-0"><i>Upload an eps /Ai. File with same name as</i></p>
                    <p class="m-0"><i>JPEG/JPG file</i></p>
                </div>
                <div class="m-b-20">
                    <label><b>File URL*</b></label>
                    <div class="row m-r-0">
                        <div class="col-md-11">
                            <input type="text" class="form-control">
                        </div>
                        <div>
                            <button type="button" class="btn btn-sm custombtn" (click)="openModal()">Choose file</button>
                        </div>
                    </div>
                </div>
                <div class="m-b-20">
                        <label class="m-0"><b>Preview Image*</b></label>
                        <p class="m-0"><i>Generally preview image is same as Upload Image</i></p>
                    </div>
                <div class="col-md-12 imgdiv m-b-20 p-0">
                        <button type="button" *ngIf='!previewUrl' class="btn btn-sm custombtn m-t-20 m-b-40" (click)="openModal()">UPLOAD FEATURE IMAGE</button>
                        <div *ngIf='previewUrl'>
                        <img src='previewUrl' height="100%" width="100%" />
                        </div>
                </div>
                <div class="row margin-edges m-b-10">
                    <div>
                    <label class="m-0"><b>Content Categories</b></label>
                    </div>
                    <div class="col-md-12 m-b-10 p-0">
                        <select class="form-control col-md-2 p-0" (change)='onGroupChange($event)' data-live-search="true">
                        <option>--select--</option>
                        <option *ngFor="let category of categoryList" value={{category.value}}>
                            {{category.label}}
                        </option>
                        </select>
                    </div>
                <div class="col-md-12 p-0 m-b-10">
                        <label><b>Keywords*</b></label>
                        <tags-input class="form-control input-lg" (onTagsChanged)="onTagsChanged($event)" placeholder="Type and press Enter" [removeLastOnBackspace]="removeLastOnBackspace" [(ngModel)]="tags" name="tags"></tags-input>
                    </div>
                </div> 
                <div>
                    <button class="btn btn-sm custombtn">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>