.margin-edges{
    margin-left: 0px;
    margin-right: 0px;
}

.custombtn{
    background-color: #48C6D4;
    color:#ffffff;    
}
.custombtn:hover{
    background-color: #F66C7B !important;
}

.imgdiv{
    text-align: center;
    border: 2px dashed;
    border-color: gray;
  }