<div>
  <h2>
    Billing
  </h2>
  <hr/>
  <div>
    <p>
      No payment methods on file
    </p>
    <h5>
      Billing Address
    </h5>
    <a href="javascript:void(0)">Change Billing Address</a>
  </div>
</div>