<app-searchbox></app-searchbox>
<div class="row">    
  <div class="col-md-3 siderbar-content">
    <h6>Your Account</h6>
    <div class="list-group">        
        <a href="javascript:void(0)" *ngFor="let item of accountList?.account" (click)="onClick(item)" routerLink="{{item?.state}}" [ngClass]="{'active': item.isActive}" class="list-group-item" >{{item?.lableName}}</a>        
      </div>
      
  </div>  
  <div class="col-md-8 selected-content">
    <router-outlet></router-outlet>	  
  </div>  
</div>