<div class="footer-container">
        <div class="footer-content">
            <div class="footer-inner-content">
                <div class="row">
                    <div class="col-md-4 col-xs-12 col-sm-6">
                        <div><img src="../assets/images/vs_white_logo.png"></div>
                        <div class="footer-widget-text">Vectorsale is being worlds largest marketplace, providing wide range of stock Images, Vectors, Illustrations for sale. Its been an multi driven platform for buying and sellers. Accepts high quality creative stock from worlds professional Graphic designers, photographers, artists.
                        </div>
                        <div class="footer-widget-button">
                            <a href="https://www.vectorsale.com/become-a-contributor/">Expose and sell your work to a large audience</a>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="footer-widget-pages">
                            <h3>Pages</h3>
                            <ul>
                                <li><a href="https://www.vectorsale.com/affiliate-program/">Affiliate Program</a></li>
                                <li><a href="https://www.vectorsale.com/become-a-contributor/">Become a Contributor</a></li>
                                <li><a href="https://www.vectorsale.com/contact/">Contact</a></li>
                                <li><a href="https://www.vectorsale.com/privacy-policy/">Privacy Policy</a></li>
                                <li><a href="https://www.vectorsale.com/terms-and-conditions/">Terms and Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class=" col-xs-12 col-sm-6 col-md-4">
                        <div class="widget-marketplace">
                            <h3>Most recent</h3>
                            <ul>
                                <li>
                                    <div class="widget-avatar">
                                        <img src="../assets/images/shutterstock_marketplace.jpg">
                                    </div>
                                    <div class="mp-widget-content">
                                        <span class="time">
                                            Jan 9, 2018
                                        </span>
                                        <span class="pull-right"><i class="fa fa-download"></i> <span>0</span></span>
                                        <h3>
                                          <a href="https://www.vectorsale.com/item/corporate-background-images/">Corporate background images</a>
                                        </h3>
                                        <span class="widget-download-price">
                                            $3                               
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="widget-avatar">
                                        <img src="../assets/images/banner-marketplace.jpg">
                                    </div>
                                    <div class="mp-widget-content">
                                        <span class="time">
                                            Dec 24, 2017
                                        </span>
                                        <span class="pull-right"><i class="fa fa-download"></i> <span>0</span></span>
                                        <h3>
                                          <a href="https://www.vectorsale.com/item/corporate-people-shaking-hands/">Corporate People Shaking hands</a>
                                        </h3>
                                        <span class="widget-download-price">
                                            $0                           
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-rights">
            <div class="container">
                <div class="row">
                    <div class="copyright-border"></div>
                    <div class="copyright-message">
                        <span> © 2018 vectorsale | All Rights Reserved.</span>
                    </div>
                    <span class="pull-right">               
                        <ul>
                            <li><a target="_blank" href="https://www.facebook.com/vectorsale.tm/">
                                <i class="fa fa-facebook"></i>
                                 </a>
                             </li>
                            <li>
                                <a target="_blank" href="https://twitter.com/">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                             <li>
                                <a target="_blank" href="https://plus.google.com/">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                             <li>
                                <a target="_blank" href="https://www.pinterest.com/">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>                                 
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>