<div id="pcoded" class="pcoded">
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header">
            <div class="navbar-wrapper">
                <div class="navbar-container container-fluid">
                    <ul class="nav-left">
                        <li *ngFor="let leftLink of menu?.left" class="m-r-20">
                            <a routerLink="{{leftLink?.routerLink}}">{{leftLink?.lable}}</a>
                        </li>
                    </ul>
                    <ul class="nav-right">
                        <!-- <li (click)="showLogin()" class="m-r-20"><a href="javascript:void(0)"><span class="fa fa-sign-in"></span> Login</a></li>
                        <li data-toggle="modal" data-target="#register" class="m-r-20"><a href="javascript:void(0)"><span class="fa fa-address-book" ></span> Register</a></li> -->
                        <li *ngFor="let item of menu?.right" [hidden]="eval(item)" (click)="evalOnClick(item)" class="m-r-20" [ngClass]="{'dropdown': item?.hasSubItems==true}">
                            <a href="javascript:void(0)" *ngIf="item?.hasSubItems !== true">
                                <span *ngIf="item?.hasIcon" class="{{item?.iconClass}}">
                                </span> {{item?.lable}}
                            </a>
                            <a href="javascript:void(0)" *ngIf="item?.hasSubItems === true" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="caret">
                                </span> {{item?.lable}}
                            </a>
                            <ul *ngIf="item?.hasSubItems === true" class="dropdown-menu">
                                <li *ngFor="let subItem of item?.subItems" (click)="evalOnClick(subItem)" class="sub-items-menu">
                                    <a href="javascript:void(0)">{{subItem?.lable}}
                                        <span *ngIf="item?.hasIcon" class="{{item?.iconClass}}">
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="m-t-50"></div>