.search-group img {
    width: 190px;
    float: left;
    margin-right: 40px;
    margin-left: 50px;
}

.search-group {
    margin-top: 75px;
}

.search {
    background-color: #7c7e82;
    width: 55px;
    text-align: center;
    color: #fff;
}

.search .fa-search {
    padding-left: 5px;
}

.search-dropdown,
.search-dropdown:hover,
.search-dropdown:active,
.search-dropdown:focus {
    border-color: #cccccc !important;
    background-color: white !important;
    box-shadow: 0 0 0 0;
    outline: none;
    border-right: 0px;
    padding-top: 5px;
}

#search .dropdown-menu {
    min-width: 130px !important;
}

#search .dropdown-menu a:hover {
    background: #7c7e82 !important;
    color: #fff !important;
}

.search-group .form-control {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#search input,
#search .input-group-append {
    max-height: 35px;
}

#search .dropdown-item {
    font-family: sans-serif;
}

#search input {
    box-shadow: 0 0 0 0.1rem rgba(204, 204, 204, 1);
}

#search input:focus {
    border: 0px solid #fff !important;
    z-index: 0 !important;
    box-shadow: 0 0 0 0.1rem rgba(204, 204, 204, 1);
}

.input-group-append {
    box-shadow: 0 0 0 0.1rem rgba(204, 204, 204, 1);
}