<div class="search-group m-b-30">
    <img class="m-t-10 col-md-2" src="../assets/images/logo.png" alt="">
    <div id="search" class="input-group col-md-5">
        <input type="text" class="form-control" placeholder="Search our image library">
        <div class="input-group-append">
            <button class="btn btn-default dropdown-toggle  search-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Images</button>
            <div class="dropdown-menu search-dropdown-menu">
                <a class="dropdown-item" href="javascript:void(0)">All Images</a>
                <a class="dropdown-item" href="javascript:void(0)">Photos</a>
                <a class="dropdown-item" href="javascript:void(0)">Vectors</a>
                <a class="dropdown-item" href="javascript:void(0)">Illustrations</a>
            </div>
            <span class="input-group-text search"><i class="fa fa-search "></i></span>
        </div>
    </div>
</div>