/* use auth-box class for login modal */
.contributer-logo {
    margin: 20px;
    height: 28px;
}
.contributer-init-container {
    background-image: url(https://www.vectorsale.com/wp-content/uploads/2016/02/img-deposit.jpg?id=8608) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.contributer-containter-content {
    text-align: center;
    color:white;
    padding: 30px;
    line-height: 30px;
    font-weight: 300;
    font-family:sans-serif;
}
.contributer-containter-content-nobg {
    text-align: center;
    color: #31363c;
    padding: 30px;
    line-height: 30px;
    font-weight: 300;
    font-family:sans-serif;
}
.content-subline {
    letter-spacing: 2px;
}
.contributer-containter-row2 {
    background: #a3c424;
}
.contributer-init-guide {
    width: 70%;
    margin: auto;
    padding: 30px;
    color: #8f8f8f;
}
.guide-key {
    margin-top:40px;
    font-size: 30px;
}
.contributer-copyright {
    background: #eee;
}
.contributer-final {
    margin-bottom: 0px !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
    background: #ffffff url(https://www.vectorsale.com/wp-content/uploads/2015/12/passion1.jpg?id=9896) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;  
}
.rate-size {
    font-size: 50px;
    color: black;
}
.fa-check {
    color : green;
}