<div>
    <div class="contributer-init-container">
        <img class="contributer-logo" src="../assets/images/logo.png" alt="">
        <div class = "contributer-containter-content">
            <h2>Expose and sell your work to a large audience.</h2>
            <h4 class="content-subline">We are so much more than just a thriving community.</h4>
            <button class="btn btn-small btn-success m-t-30" (click)="showRegister()">Sign up now <i class="fa fa-arrow-right"></i></button> 
            <h5>Already have an contributor? <a class="pointer" href="javascript:void(0)" (click)="showLogin()">Sign in</a></h5>
        </div>
    </div>
    <div class="contributer-containter-row2">
        <div class="contributer-containter-content">
            <h2>Learn why it's worthwhile selling your work here.</h2>
        </div>
    </div>
    <div class="contributer-init-guide row">
        <div class="col-md-4 p-30 display-inline">
            <div class="guide-key">
                <i class="fa fa-key"></i>    
            </div> 
            
            <div class="p-30">
                <h4>CONTRIBUTOR ACCESS</h4>
                Any one can create an contributor account and get an authorized permission to submit their stock, Every approved contributor can access their dashboard from our stock maintenance system.
            </div>
        </div> 
        <div class="col-md-4 p-30 display-inline">
            <div class="guide-key">
                <i class="fa fa-globe"></i>    
            </div> 
                
            <div class="p-30">
                <h4>OPEN TO THE WORLD</h4>
                Expose and sell your work to a large audience through out the world. Vectorsale make your stock expose to huge quantity of customers.
            </div>
        </div>    
        <div class="col-md-4 p-30 display-inline">
            <div class="guide-key">
                <i class="fa fa-money"></i>    
            </div> 
            <div class="p-30">
                <h4>EARN A MONTHLY PROFIT</h4>
                Choose the skill that adapts to your work and start earning money. No monthly limit, earn monthly earnings straight forward into your PayPal account.
            </div>
        </div>
    </div>
    <div class="contributer-containter-content-nobg">
        <div class="p-b-30">
            <h1>Earn <span class="rate-size">30%</span> Flat commission on every download of your content</h1>
        </div>
        <div class="m-t-30 row">
            <div class="col-md-6 p-30">
                <img width="500" height="481" src="https://www.vectorsale.com/wp-content/uploads/2016/02/img-temp1.png"  alt="">
            </div>
            <div class="col-md-6 contributer-guidelines">
                <h2 class="text-left ">Guidelines for content uploading </h2>
                <ul class="text-left">
                    <li>
                        <i class="fa fa-check m-r-20"></i>                    
                        The content must be created by your own and you own the copyright of the content.
                    </li>
                    <li>
                        <i class="fa fa-check m-r-20"></i>                
                        The content you upload should not be offensive such as people, illegal activities, public property, etc.
                    </li>
                    <li>
                        <i class="fa fa-check m-r-20"></i>                
                        The image or vector must be under 10 MB and minimum 4mp.
                    </li>
                    <li>
                        <i class="fa fa-check m-r-20"></i>                
                        For a vector submission, submit the vector file in eps10 or less along with preview image of 300dpi, minimum 4mp, JPG/JPEG format only.
                    </li>
                    <li>
                        <i class="fa fa-check m-r-20"></i>                
                        The content images must be RGB mode and highest JPG with 300dpi.
                    </li>
                    <li>
                        <i class="fa fa-check m-r-20"></i>                
                        The title or description for the content must be relevant.
                    </li>
                    <li>
                        <i class="fa fa-check m-r-20"></i>                
                        The model release must be submitted for any content it is subjected for model release. Need to submit the model release from with all specifications filled out in the model release PDF. (Click here) to download the model release form.
                    </li>
                </ul>
            </div>
            
        </div>
    </div>
    <div class="contributer-copyright">
        <div class="container p-30">                
            <h2 class="text-left m-t-30"> Copyright / Trademark Issues </h2>
            <ul class="text-left">
                <li>
                    <i class="fa fa-check m-r-20"></i>
                    Content should not have any trademark or copyright issues partially or totally. Making sure of verifying the content that is submitting to vectorsale is the responsibility of the contributor.
                </li>
                <li>
                    <i class="fa fa-check m-r-20"></i>                    
                    Do not submit any content with trademark issues, for example, some of the content like “private buildings”, “public properties”, “brands”, “logos”, “characters from cartoons”, “film or movie celebrities”, “teen”, “nude”, “sexy”.
                </li>
                <li>
                    <i class="fa fa-check m-r-20"></i>                    
                    Do not embed your own watermark, website name, or copyright notice in your content. We protect your content with our own watermark, which is applied when your content is accepted to our site.
                </li>
            </ul>
            <h2  class="text-left m-t-30">Technical Issues </h2>
            <ul class="text-left">
                <li>
                    <i class="fa fa-check m-r-20"></i>                        
                    Vector files should have clean design elements, all elements in the vector files must be unlocked and unhide.
                </li>
                <li>
                    <i class="fa fa-check m-r-20"></i>                        
                    Vector files must be designed in RGB mode only, the preview image must match the proportion of the vector file proportion
                </li>
                <li>
                    <i class="fa fa-check m-r-20"></i>                        
                    Image / Photo must be in the natural state, It should not be over-composed, Do not contain noise or grains, over light exposed, low lighting.
                </li>
                <li>
                    <i class="fa fa-check m-r-20"></i>                        
                    Any unnatural photo effects or filters are not acceptable.
                </li>
                <li>
                    <i class="fa fa-check m-r-20"></i>                        
                    Image / Photo must maintain proper ISO, Aperture, Shutter depending on state of the image being captured
                </li>
            </ul>    
        </div>
    </div>    
    <div class="contributer-final">
        <div class = "contributer-containter-content">
            <h2>You are just a few steps away, to turn your passion into income</h2>
            <h4 class="content-subline">Just show us how creative and passionate you are?</h4>
            <div class="row container display-inline m-auto">
                <div class="m-l-25-per col-md-2 p-30">
                        <img width="100" height="100" src="https://www.vectorsale.com/wp-content/uploads/2015/12/create.png" class="vc_single_image-img attachment-medium" alt="">
                        <br>
                        <h4 class="m-t-20">Create</h4>
                </div>
                <div class="col-md-2 p-30">
                    <img width="100" height="100" src="https://www.vectorsale.com/wp-content/uploads/2015/12/upload.png" class="vc_single_image-img attachment-full" alt="">
                    <br>
                    <h4 class="m-t-20">Upload</h4>
                </div>
                <div class="col-md-2 p-30">
                    <img width="100" height="100" src="https://www.vectorsale.com/wp-content/uploads/2015/12/earn.png" class="vc_single_image-img attachment-full" alt="">                
                    <br>
                    <h4 class="m-t-20">Earn</h4>
                </div> 
            </div>
        </div>            
    </div>
    <div class="contributer-containter-content-nobg">
        <h1 class = "fz-40 m-t-30">Sound good? Join our community today!</h1>
        <h4 class="content-subline">Vectors, Illustrations, Images, Designs, Icons, Graphics.</h4>
        <button type="button" class="btn btn-small btn-success m-t-30" (click)="showRegister()">Sign up now <i class="fa fa-arrow-right"></i></button> 
        <br>
        <button class="btn btn-small btn-success m-t-30" (click)="showLogin()">Contributer login <i class="fa fa-arrow-right"></i></button>             
        <!-- <contributer-login [(isDisplay)]='isLogin' (hideDisplay) = "hideLogin()" *ngIf='isLogin'></contributer-login>
        <contributer-register [(isDisplay)]='isRegister' (hideDisplay) = "hideRegister()" *ngIf='isRegister'></contributer-register> -->
        
    </div>
    
</div>

