<div class="modal-header">
    <h4 class="modal-title">Contributer Sign In</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Your Email Address" name="userName" [(ngModel)]="foo">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Password">
                <span class="md-line"></span>
            </div>
            <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                    <div class="border-checkbox-section">
                        <div class="border-checkbox-group border-checkbox-group-primary">
                            <input class="border-checkbox" type="checkbox" id="checkbox1">
                            <label class="border-checkbox-label" for="checkbox1">Remember me</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                    <a href="auth-reset-password.html" class="text-right f-w-600 text-inverse"> Forgot Password?</a>
                </div>
            </div>
            <div class="row m-t-15">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center" (click)='navigateToContributerBoard()'>Sign in</button>
                </div>
            </div>
            <hr/>
        </div>
    </form>
    <!-- end of form -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>