<div class="modal-header">
    <h4 class="modal-title">Contributer Sign up. It is fast and easy.</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Choose Username">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Your Email Address">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Choose Password">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Confirm Password">
                <span class="md-line"></span>
            </div>
            <div class="row m-t-25 text-left">
                <div class="col-md-12">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">I read and accept <a href="#">Terms &amp; Conditions</a></span>
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                            <span class="text-inverse">Send me the <a href="">Newsletter</a> weekly.</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row m-t-15">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center">Sign up now</button>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-md-10">
                    <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                    <p class="text-inverse text-left"><b>Your Authentication Team</b></p>
                </div>
                <div class="col-md-2">
                    <!-- <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png"> -->
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>




