<div class="article-list">
    <div class="container">
      <div class="m-b-10">
          <button type="button" class="m-r-10 btn btn-sm custombtn">PENDING REVIEW</button>
          <button type="button" class="m-r-10 btn btn-sm custombtn">LIVE</button>
          <button type="button" class="m-r-10 btn btn-sm custombtn">ALL</button>
      </div>
        <table class="col-md-12">
            <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
            <tr >
              <th>Image</th>
              <th>Name</th>
              <th class="align_center">Status</th>
              <th>Downloads</th>
              <th>Date Added</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of wishlistdata">
              <td><img class= "downloadimg" src={{list.img}}></td>
              <td>
                <p>{{list.name}}</p>
                <p><span *ngFor="let priv of list.privs" [ngClass]="getPrivClasses(priv)">{{priv}}</span></p>
              </td>
              <td class="align_center"><span [ngClass]="getCSSClasses(list.status)">{{list.status}}</span></td>
              <td>{{list.downloads}}</td>
              <td>{{list.published_date}}</td>
            </tr>
          </tbody>
          </table>
    </div>
</div>