.downloadimg{
    width:100px;
    height:auto;
}

tbody tr:nth-child(even){
    background-color: #f9f9f9;
  }

.addbg a:hover{
    background-color: #2cbd9b;
}

.align_center{
    text-align: center;
}

.live_style{
    background-color: #8bc249;
    color: #fff;
}

.pending_color{
    background-color: #dd4250;
    color:#fff;
}

.edit_style{
    background-color: #aab3bc;
    color: #fff;
    cursor: pointer;
}

.edit_style:hover{
    background-color: #fa5252 !important;
}

.view_style{
    background-color: #2cbd9b;
    color: #fff;
    cursor: pointer;
}

.view_style:hover{
    background-color: #18a9c4 !important;   
}

.delete_style{
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.delete_style:hover{
    background-color: #fa5252 !important;
}

.custombtn{
    border: 1px solid #e9e9e9;
    background: #f9f9f9;
    color: #337ab7;
    font-weight:bold;
}

.custombtn:hover{
    color: #23527c !important;
}