<div class="row">
  <div class="col-md-2">
    <img class="vector-logo m-t-10" src="../assets/images/logo.png" alt="">
  </div>
  <div class="col-md-8 contributer-user">
      <i class="fa fa-user"></i>
      Sandeep
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="contributer-nav">
      <ngb-tabset [justify]="center">
        <ngb-tab>
          <ng-template ngbTabTitle>
             Dashboard
            </ng-template>
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
                <app-home></app-home>
            </div>
          </ng-template>
        </ngb-tab><ngb-tab>
            <ng-template ngbTabTitle>Profile</ng-template>
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                  <app-contributer-profile></app-contributer-profile>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-message"></i>Contents</ng-template>
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <app-contributer-contents></app-contributer-contents>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-settings"></i>Add Content</ng-template>
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <app-contributer-add-content></app-contributer-add-content>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
              <ng-template ngbTabTitle><i class="fa fa-settings"></i>Earnings</ng-template>
              <ng-template ngbTabContent>
                <div [@fadeInOutTranslate] class="m-t-15">
                  <app-contributer-earnings></app-contributer-earnings>
                </div>
              </ng-template>
            </ngb-tab>
        <!-- <ngb-tab>
            <ng-template ngbTabTitle>
                <div ngbDropdown class="d-inline-block">
                    <p  class="m-0" id="dropdownBasic1" ngbDropdownToggle>Earnings</p>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                      <button class="dropdown-item">Action - 1</button>
                      <button class="dropdown-item">Another Action</button>
                      <button class="dropdown-item">Something else is here</button>
                    </div>
                  </div>
            </ng-template>
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <p class="m-4">1. This is Photoshop's version of Lorem IpThis is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean mas Cum sociis natoque penatibus et magnis dis.....</p>
              </div>
            </ng-template>
          </ngb-tab> -->
        <!-- <ngb-tab>
          <ng-template ngbTabTitle><i class="fa fa-settings"></i>Upload</ng-template>
          <ng-template ngbTabContent>
            <div [@fadeInOutTranslate] class="m-t-15">
              <p class="m-4">4. Cras consequat in enim ut efficitur. Nulla posuere elit quis auctor interdum praesent sit amet nulla vel enim amet. Donec convallis tellus neque, et imperdiet felis amet.</p>
            </div>
          </ng-template>
        </ngb-tab> -->
      </ngb-tabset>
    </div>
  </div>

</div>
