/* components/basic/generic-class */
  /* .md-tabs .nav-link.active {
    border-bottom: 4px solid #0073aa;
  }
  
  .md-tabs .nav-link {
    transition: all 0.4s ease-in-out;
    border-bottom: 4px solid transparent;
  }
  
  .md-tabs .nav-link.active, .md-tabs .nav-link.active:focus, .md-tabs .nav-link.active:hover {
    border-bottom: 4px solid #0073aa;
  }
  .md-tabs .nav-item {
    background: lightgray !important;
  }
  .md-tabs .nav-item a  {
    color : white;
  } */
/* vector image */
.vector-logo {
  width: 190px;
  float: left;
  margin-right: 40px;
  margin-left: 50px;
  padding: 20px;
}
.contributer-user {
  text-align: right;
    margin-top: 30px;
    font-size: 20px;
}