.trial-image {
    background-image: url("/../assets/images/freeImage1.jpg");
}

.free-images-conatiner {
    color: #FFF;
    background-color: #666;
}

.trial-image {
    position: relative;
    height: 207px;
    overflow: auto;
    background-color: #444;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.free-images-conatiner a {
    color: #337ab7;
}

.trail-image-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(0, 0, 0, .5);
}

.seperator {
    margin-left: 10px;
    margin-right: 10px;
}