<div class="free-images-conatiner">
    <div class="container">
        <div class="text-center">
            <h3>Download your free images of the week</h3>
        </div>
        <div class="container text-center row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="trial-image">
                    <h6 class="trail-image-footer text-center">
                        Free photo of the week 
                        <span class="seperator">|</span>
                        <a href="javascript:void(0)">Download</a>
                    </h6>
                </div>
                <p class="p small text-left">
                    <span>by</span>
                    <a href="javascript:void(0)">Shcherbakov Ilya</a>
                </p>
            </div>
            <div class="col-md-4">
                <div class="trial-image">
                    <h6 class="trail-image-footer text-center">
                        Free photo of the week 
                        <span class="seperator">|</span> 
                        <a href="javascript:void(0)">Download</a>
                    </h6>
                </div>
                <p class="p small text-left">
                    <span>by</span>
                    <a href="javascript:void(0)">Shcherbakov Ilya</a>
                </p>
            </div>
        </div>
    </div>
</div>