.header {
    margin-top: -20px;
}

.header-message {
    float: left;
    font-family: Frank, Arial, Helvetica, sans-serif;
    margin-left: 20%;
    margin-right: 15%;
    margin-top: 10px;
}

.header-message h4 {
    margin-top: 5px
}

.header-list a {
    color: #337ab7;
}

.header-container {
    display: inline;
}

.header-list i {
    margin-right: 8px;
}

.header-list span {
    margin-right: 15px;
}

.category {
    text-align: center;
}

.display-flex {
    display: flex;
}

.category-list li a {
    color: black;
}