<div class="userdashboard-container">
    <app-searchbox></app-searchbox>
    <div class="header">
        <div class="container header-container">
            <div class="header-message">
                <h4>Welcome to Vector Sale</h4>
            </div>
            <div class="header-list">
                <a [routerLink]="['/account','plans']"  href="javascript:void(0)"><i class="fa fa-user"></i><span> Account Details</span></a>
                <a href="javascript:void(0)"><i class="fa fa-save"></i><span>License History</span></a>
                <a href="javascript:void(0)"><i class="fa fa-phone"></i> <span>Contact Us</span></a>
            </div>
        </div>
    </div>
    <app-user-plans></app-user-plans>
    <div>
        <h3 class="category">  Browse images by category  </h3>
        <div class="container category-list display-flex">
            <ul class="col-md-3 list-unstyled list-keywords">
                <li><a href="javascript:void(0)">Abstract</a></li>
                <li><a href="javascript:void(0)">Animals/Wildlife</a></li>
                <li><a href="javascript:void(0)">The Arts</a></li>
                <li><a href="javascript:void(0)">Backgrounds/Textures</a></li>
                <li><a href="javascript:void(0)">Beauty/Fashion</a></li>
                <li><a href="javascript:void(0)">Buildings/Landmarks</a></li>
                <li><a href="javascript:void(0)">Business/Finance</a></li>
                <li><a href="javascript:void(0)">Celebrities</a></li>
            </ul>
            <ul class="col-md-3">
                <li><a href="javascript:void(0)">Editorial</a></li>
                <li><a href="javascript:void(0)">Education</a></li>
                <li><a href="javascript:void(0)">Food and Drink</a></li>
                <li><a href="javascript:void(0)">Healthcare/Medical</a></li>
                <li><a href="javascript:void(0)">Holidays</a></li>
                <li><a href="javascript:void(0)">Illustrations/Clip-Art</a></li>
                <li><a href="javascript:void(0)">Industrial</a></li>
            </ul>
            <ul class="col-md-3">
                <li><a href="javascript:void(0)">Interiors</a></li>
                <li><a href="javascript:void(0)">Miscellanious</a></li>
                <li><a href="javascript:void(0)">Nature</a></li>
                <li><a href="javascript:void(0)">Objects</a></li>
                <li><a href="javascript:void(0)">Parks/Outdoor</a></li>
                <li><a href="javascript:void(0)">People</a></li>
                <li><a href="javascript:void(0)">Religion</a></li>
            </ul>
            <ul class="col-md-3">
                <li><a href="javascript:void(0)">Science</a></li>
                <li><a href="javascript:void(0)">Signs/Symbols</a></li>
                <li><a href="javascript:void(0)">Sports/Recreations</a></li>
                <li><a href="javascript:void(0)">Techology</a></li>
                <li><a href="javascript:void(0)">Transportations</a></li>
                <li><a href="javascript:void(0)">Vectors</a></li>
                <li><a href="javascript:void(0)">Vintage</a></li>
            </ul>
        </div>
    </div>
    <app-trail-image></app-trail-image>
</div>