<h4>Download History</h4>
<table class="col-md-12">
  <tr *ngFor="let details of downloadhistory">
    <td>
        <a href="javascript:void(0)"><img class= "downloadimg" src={{details.img}} alt="elephant image"></a>
    </td>
    <td>
        <a href="javascript:void(0)">{{details.name}}</a>
    </td>
    <td>
        <span class="forpsize">{{details.comment}}</span>
    </td>
  </tr>
</table>
