/* You can add global styles to this file, and also import other style file*/

@import "./assets/theame/guru-theame";
@import "./assets/sass/_table";
@import "./assets/sass/_utility";
@import "./assets/sass/_margins";
@import "./assets/sass/_vector";
@import "./assets/sass/_paddings";

body {
    font-family: sans-serif;
    background-color: #fff;
}

.form-field input {
    margin-top: 6px;
}

.login-body {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}