<div class="modal-header">
    <h4 class="modal-title">Choose a file</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div>
            <div class="custom-upload-div" id="div1" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onDrop($event)">
                <h5>Drop files anywhere to upload</h5>
                <div><label>or</label></div>
                <div *ngIf='advertiser=="addContent"'>
                    <input type="file" name="file" id="file" (change)="onFileChange($event)" style="display: none" accept=".jpg, .eps" multiple />
                    <label for="file" class="btn btn-light">Choose a file</label>
                </div>
                <div *ngIf='advertiser=="profile"'>
                        <input type="file" name="file" id="file" (change)="onUploadID($event)" style="display: none" accept=".jpg, .png, .bmp, .pdf"/>
                        <label for="file" class="btn btn-light">Choose a file</label>
                    </div>
                <div><label>Maximum upload file size:128MB</label></div>
            </div>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" style="float: right;" class="btn btn-primary btn-md waves-effect text-center">INSERT FILE URL</button>
</div>