@charset "UTF-8";

/*           Common           */


/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/roboto-v15-latin-300.eot");
    /* IE9 Compat Modes */
    src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v15-latin-300.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-300.woff2") format("woff2"), url("../fonts/roboto-v15-latin-300.woff") format("woff"), url("../fonts/roboto-v15-latin-300.ttf") format("truetype"), url("../fonts/roboto-v15-latin-300.svg#Roboto") format("svg");
    /* Legacy iOS */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/roboto-v15-latin-regular.eot");
    /* IE9 Compat Modes */
    src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v15-latin-regular.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v15-latin-regular.woff") format("woff"), url("../fonts/roboto-v15-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v15-latin-regular.svg#Roboto") format("svg");
    /* Legacy iOS */
}


/* roboto-700 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/roboto-v15-latin-700.eot");
    /* IE9 Compat Modes */
    src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v15-latin-700.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-700.woff2") format("woff2"), url("../fonts/roboto-v15-latin-700.woff") format("woff"), url("../fonts/roboto-v15-latin-700.ttf") format("truetype"), url("../fonts/roboto-v15-latin-700.svg#Roboto") format("svg");
    /* Legacy iOS */
}


/* Utils */

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

.card {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #ffffff;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.card.card-w-title {
    padding-bottom: 16px;
}

.card.no-gutter {
    margin-bottom: 0;
}

.card h1 {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
}

.card h1:first-child {
    margin-top: 0px;
}

.card h2 {
    font-size: 18px;
    font-weight: 400;
}

.card h3 {
    font-size: 16px;
    font-weight: 400;
}

.card h4 {
    font-size: 14px;
    font-weight: 400;
}

.nopad {
    padding: 0;
}

.nopad .ui-panel-content {
    padding: 0;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

.ui-shadow-1 {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-shadow-2 {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-shadow-3 {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ui-shadow-4 {
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ui-shadow-5 {
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.ui-g {
    -ms-flex-wrap: wrap;
}

.ui-g.form-group>div {
    padding: .5em;
}

.ui-selectoneradio.form-group .ui-grid-row>div,
.ui-selectmanycheckbox.form-group .ui-grid-row>div {
    padding: .5em;
}

.dashboard .ui-panel {
    border-color: #dee4e9;
}

.dashboard .ui-panel .ui-panel-titlebar {
    border-color: #dee4e9;
}

.dashboard .overview-box .overview-box-title {
    font-size: 14px;
    width: 100%;
}

.dashboard .overview-box .overview-box-details {
    width: 100%;
    padding: 8px 0;
}

.dashboard .overview-box .overview-box-details .overview-box-details-icon {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

.dashboard .overview-box .overview-box-details .overview-box-details-count {
    font-size: 24px;
    vertical-align: middle;
}

.dashboard .overview-box.overview-box-1 .overview-box-details-icon {
    color: #eb8c00;
}

.dashboard .overview-box.overview-box-2 .overview-box-details-icon {
    color: #7e8dcd;
}

.dashboard .overview-box.overview-box-3 .overview-box-details-icon {
    color: #39b8b6;
}

.dashboard .overview-box.overview-box-4 .overview-box-details-icon {
    color: #f6ac2b;
}

.dashboard .global-sales {
    padding-top: 1em;
}

.dashboard .global-sales .ui-panel-titlebar {
    padding-left: 110px;
}

.dashboard .global-sales .ui-panel-content {
    padding: 5px 0 0 0;
    position: relative;
}

.dashboard .global-sales .ui-panel-content button {
    float: right;
    margin-right: 12px;
}

.dashboard .global-sales .ui-panel-content .sale-interval {
    margin-left: 110px;
}

.dashboard .global-sales .ui-panel-content .globe {
    border: 1px solid #dee4e9;
    position: absolute;
    left: -1px;
    top: -40px;
    width: 100px;
    height: 75px;
    text-align: center;
    background-color: #ffffff;
}

.dashboard .global-sales .ui-panel-content .globe img {
    margin-top: 15px;
    line-height: inherit;
    display: inline-block;
}

.dashboard .global-sales table {
    margin-top: 20px;
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
}

.dashboard .global-sales table tr:nth-child(odd) {
    background: #f6f8f9;
}

.dashboard .global-sales table tr td {
    padding: 10px 14px;
}

.dashboard .global-sales table tr td:first-child {
    text-align: center;
}

.dashboard .global-sales table tr .fa-arrow-up {
    color: #3eb839;
}

.dashboard .global-sales table tr .fa-arrow-down {
    color: #e17576;
}

.dashboard .stats {
    padding-top: 1em;
}

.dashboard .stats .ui-panel-content {
    padding-top: 12px;
    min-height: 312px;
}

.dashboard .stats .knob-container {
    text-align: center;
}

.dashboard .stats .knob-container .knob {
    width: 190px;
    height: 190px;
    line-height: 190px;
    margin-top: 20px;
    font-size: 75px;
    color: #6a6a7d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    border: 5px solid #3eb839;
    border-left-color: #a9e4a6;
}

.dashboard .stats ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dashboard .stats ul li {
    padding: 10px 0;
    text-align: right;
}

.dashboard .stats ul li .statsbar-text {
    display: block;
}

.dashboard .stats ul li .statsbar {
    width: 80%;
    background-color: #dee4e9;
    margin-top: 12px;
    display: inline-block;
}

.dashboard .stats ul li .statsbar .statsbar-value {
    background-color: #3eb839;
    height: 4px;
}

.dashboard .task-list {
    overflow: hidden;
}

.dashboard .task-list>.ui-panel {
    min-height: 340px;
}

.dashboard .task-list .ui-panel-content {
    padding: 0px !important;
}

.dashboard .task-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dashboard .task-list ul li {
    padding: 6px 12px;
    border-bottom: 1px solid #dee4e9;
}

.dashboard .task-list ul li:last-child {
    border-bottom: 0 none;
}

.dashboard .task-list ul .ui-chkbox {
    vertical-align: middle;
    margin-right: 5px;
}

.dashboard .task-list ul .task-name {
    vertical-align: middle;
}

.dashboard .task-list ul i {
    color: #b5b5b5;
    float: right;
    font-size: 16px;
}

.dashboard .contact-form {
    overflow: hidden;
}

.dashboard .contact-form .ui-panel {
    min-height: 340px;
}

.dashboard .contact-form .ui-g-12 {
    padding: 6px 12px;
}

.dashboard .contact-form .ui-button {
    margin-top: 4px;
}

.dashboard .contacts {
    overflow: hidden;
}

.dashboard .contacts>.ui-panel {
    min-height: 340px;
}

.dashboard .contacts .ui-panel-content {
    padding: 0px !important;
}

.dashboard .contacts ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dashboard .contacts ul li {
    border-bottom: 1px solid #dee4e9;
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    display: block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.dashboard .contacts ul li img {
    float: left;
    margin-right: 8px;
}

.dashboard .contacts ul li .contact-info {
    float: left;
}

.dashboard .contacts ul li .contact-info .name {
    display: block;
    margin-top: 4px;
    font-size: 14px;
}

.dashboard .contacts ul li .contact-info .location {
    margin-top: 4px;
    display: block;
    font-size: 12px;
    color: #b5b5b5;
}

.dashboard .contacts ul li .contact-actions {
    float: right;
    padding-top: 12px;
}

.dashboard .contacts ul li .contact-actions .connection-status {
    color: #ffffff;
    padding: 2px 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.dashboard .contacts ul li .contact-actions .connection-status.online {
    background-color: #3fb839;
}

.dashboard .contacts ul li .contact-actions .connection-status.offline {
    background-color: #e17576;
}

.dashboard .contacts ul li .contact-actions .fa {
    color: #b5b5b5;
    margin-left: 5px;
}

.dashboard .contacts ul li:last-child {
    border: 0;
}

.dashboard .user-card {
    border: 1px solid #dee4e9;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.dashboard .user-card .user-card-header {
    height: 100px;
    overflow: hidden;
    background-color: #dee4e9;
}

.dashboard .user-card .user-card-header img {
    width: 100%;
}

.dashboard .user-card .user-card-content {
    min-height: 340px;
    background-color: #ffffff;
}

.dashboard .user-card .user-card-content img {
    margin: -40px 0 0 24px;
}

.dashboard .user-card .user-card-content .ui-button {
    float: right;
    width: 2em;
    height: 2em;
    margin: 16px 24px 0 0;
}

.dashboard .user-card .user-card-content .user-card-name {
    font-size: 20px;
    color: #757575;
    position: relative;
    top: -70px;
    margin-left: 110px;
    font-weight: 700;
    white-space: nowrap;
}

.dashboard .user-card .user-card-content .user-detail {
    text-align: left;
}

.dashboard .user-card .user-card-content .user-detail ul {
    padding: 0px 0 32px 0;
    margin: 0;
    list-style-type: none;
}

.dashboard .user-card .user-card-content .user-detail ul li {
    padding: 16px 24px;
    border-top: 1px solid #dee4e9;
}

.dashboard .user-card .user-card-content .user-detail ul li:last-child {
    border-bottom: 1px solid #dee4e9;
}

.dashboard .user-card .user-card-content .user-detail ul li i {
    font-size: 24px;
    margin-right: 8px;
    width: 32px;
    vertical-align: middle;
}

.dashboard .user-card .user-card-content .user-detail ul li .project-title {
    font-weight: 700;
    margin-right: 8px;
}

.dashboard .user-card .user-card-content .user-detail ul li .project-detail {
    color: #b5b5b5;
}

.dashboard .user-card .user-card-content .user-detail ul li .project-progressbar {
    display: inline-block;
    width: 100px;
    background-color: #dee4e9;
    float: right;
    margin-top: 12px;
}

.dashboard .user-card .user-card-content .user-detail ul li .project-progressbar .project-progressbar-value {
    background-color: #eb8c00;
    height: 4px;
}

.dashboard .chat .ui-panel-content {
    padding: 0 !important;
}

.dashboard .chat ul {
    padding: 12px;
    margin: 0;
    list-style-type: none;
}

.dashboard .chat ul li {
    padding: 6px 0;
}

.dashboard .chat ul li img {
    width: 36px;
    float: left;
}

.dashboard .chat ul li span {
    border: 1px solid #dee4e9;
    padding: 6px 12px;
    float: left;
    display: inline-block;
    margin: 4px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.dashboard .chat ul li.message-from img,
.dashboard .chat ul li.message-from span {
    float: left;
}

.dashboard .chat ul li.message-from img {
    margin-right: 8px;
}

.dashboard .chat ul li.message-own img,
.dashboard .chat ul li.message-own span {
    float: right;
}

.dashboard .chat ul li.message-own img {
    margin-left: 8px;
}

.dashboard .chat .new-message {
    height: 40px;
    border-top: 1px solid #dee4e9;
    color: #afafc0;
}

.dashboard .chat .new-message .message-attachment {
    display: inline-block;
    border-right: 1px solid #dee4e9;
    width: 40px;
    line-height: 40px;
    height: 100%;
    text-align: center;
}

.dashboard .chat .new-message .message-attachment i {
    line-height: inherit;
    font-size: 24px;
}

.dashboard .chat .new-message .message-input {
    position: relative;
    top: -4px;
    width: calc(100% - 100px);
    display: inline-block;
}

.dashboard .chat .new-message .message-input input {
    border: 0 none;
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    outline: 0 none;
    padding-left: 8px;
}

.dashboard .timeline {
    height: 100%;
    box-sizing: border-box;
}

.dashboard .timeline>.ui-g .ui-g-3 {
    font-size: 14px;
    position: relative;
    border-right: 1px solid #bdbdbd;
}

.dashboard .timeline>.ui-g .ui-g-3 i {
    background-color: #ffffff;
    font-size: 24px;
    position: absolute;
    top: 6px;
    right: -12px;
}

.dashboard .timeline>.ui-g .ui-g-9 {
    padding-left: 1.5em;
}

.dashboard .timeline>.ui-g .ui-g-9 .event-text {
    color: #b5b5b5;
    font-size: 14px;
    display: block;
    padding-bottom: 20px;
}

.dashboard .timeline>.ui-g .ui-g-9 .event-content img {
    width: 100%;
}

.dashboard .chart-panel .ui-panel-content {
    overflow: auto;
}

@media (max-width: 1024px) {
    .dashboard .stats ul li .statsbar {
        width: 100%;
    }
}

.login-body {
    /*background: url("../images/login/bg-login.png");*/
    background-size: cover;
    height: auto;
}

.login-body .login-panel {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 125px;
}

.login-body .login-panel .ui-g-12 {
    padding: 15px 100px;
}

.login-body .login-panel .ui-g-12.logo-container {
    padding: 50px 50px 25px 50px;
    border-bottom: 8px solid #dee4e9;
    margin-bottom: 20px;
}

.login-body .login-panel .ui-g-12.logo-container .logo {
    height: 50px;
}

.login-body .login-panel .ui-g-12.logo-container .login-icon {
    float: right;
    height: 50px;
}

.login-body .login-panel .ui-g-12.logo-container h2 {
    color: #7d8286;
    font-size: 16px;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 0;
}

.login-body .login-panel .ui-g-12.chkbox-container .ui-g-12 {
    text-align: center;
    padding: 0;
}

.login-body .login-panel .input-wrapper {
    position: relative;
}

.login-body .login-panel .input-wrapper img {
    position: absolute;
    width: 14px;
    right: 8px;
}

.login-body .login-panel .input-wrapper img.user-icon {
    top: 6px;
}

.login-body .login-panel .input-wrapper img.lock-icon {
    top: 5px;
}

.login-body .login-panel .input-wrapper input {
    width: 100%;
    padding: .385em;
    padding-right: 22px;
}

.login-body .login-panel a {
    color: #757575;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.login-body .login-panel a:hover {
    color: #eb8c00;
}

.login-body .login-panel label {
    display: block;
    margin-bottom: 8px;
}

.login-body .login-panel button {
    padding: 0;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    .login-body .login-panel {
        margin-top: 100px;
        width: 100%;
    }
    .login-body .login-panel .ui-g-12 {
        padding: 15px 50px;
    }
}

.exception-body {
    background-size: cover;
    overflow: hidden;
}

.exception-body.error {
    background-image: url("../images/exception/error-bg.png");
}

.exception-body.access {
    background-image: url("../images/exception/access-bg.png");
}

.exception-body.notfound {
    background-image: url("../images/exception/404-bg.png");
}

.exception-body .exception-panel {
    width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 200px;
}

.exception-body .exception-panel .exception-panel-content {
    padding: 50px 50px 25px 50px;
    border-bottom: 8px solid #dee4e9;
}

.exception-body .exception-panel .exception-panel-content h1 {
    margin-top: 0;
    font-weight: 400;
}

.exception-body .exception-panel .exception-panel-content p {
    font-weight: 400;
    margin-bottom: 0;
}

.exception-body .exception-panel .exception-panel-content img {
    float: right;
    width: 40px;
}

.exception-body .exception-panel .exception-panel-footer {
    padding: 25px 50px 50px 50px;
}

@media (max-width: 640px) {
    .exception-body .exception-panel {
        width: 100%;
    }
    .exception-body .exception-panel .ui-g-12 {
        padding: 15px 50px;
    }
}

.landing-body {
    background: #f4f4f4;
}

.landing-body .landing-menu {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0;
}

.landing-body .landing-menu li {
    display: inline-block;
    font-size: 16px;
    margin-left: 36px;
}

.landing-body .landing-menu li:first-child {
    margin-left: 0;
}

.landing-body .landing-menu li a {
    color: #393b3e;
    border-bottom: 1px solid transparent;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.landing-body .landing-menu li a:hover {
    border-bottom: 1px solid #393b3e;
}

.landing-body .landing-wrapper #header .header-top {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

.landing-body .landing-wrapper #header .header-top .logo {
    width: 125px;
}

.landing-body .landing-wrapper #header .header-content {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.landing-body .landing-wrapper #header .header-content h1 {
    font-size: 28px;
    font-weight: 400;
}

.landing-body .landing-wrapper #header .header-content h2 {
    color: #7d8286;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 30px;
}

.landing-body .landing-wrapper #header .header-content button {
    width: 170px;
}

.landing-body .landing-wrapper #features {
    background-color: #393b3e;
}

.landing-body .landing-wrapper #features>div {
    width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 75px 0;
    color: #ffffff;
}

.landing-body .landing-wrapper #features>div h1 {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    margin: 15px 0;
}

.landing-body .landing-wrapper #features>div .features-content {
    text-align: left;
}

.landing-body .landing-wrapper #features>div .features-content h3 {
    font-size: 18px;
    margin: 0;
}

.landing-body .landing-wrapper #features>div .features-content p {
    font-size: 14px;
    margin: 6px 0 0 0;
}

.landing-body .landing-wrapper #features>div .features-content img {
    width: 72px;
}

.landing-body .landing-wrapper #features>div .features-content .ui-g-12 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
}

.landing-body .landing-wrapper #features>div .features-content .feature-left img {
    float: left;
    margin-right: 12px;
}

.landing-body .landing-wrapper #features>div .features-content .feature-right {
    text-align: right;
}

.landing-body .landing-wrapper #features>div .features-content .feature-right img {
    float: right;
    margin-left: 12px;
}

.landing-body .landing-wrapper #events>div {
    width: 960px;
    margin: 0 auto;
    padding: 60px 0 75px 0;
    text-align: center;
}

.landing-body .landing-wrapper #events>div h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0;
}

.landing-body .landing-wrapper #events>div .event-box {
    background-color: #393b3e;
    text-align: left;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-image {
    color: #ffffff;
    position: relative;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-image img {
    width: 185px;
    float: left;
    margin-right: 24px;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-image .event-month {
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    top: 50px;
    left: 60px;
    font-weight: 300;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-image .event-date {
    position: absolute;
    font-size: 56px;
    font-weight: 700;
    top: 90px;
    left: 65px;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-content {
    color: #ffffff;
    padding-top: 20px;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-content h3 {
    font-size: 36px;
    font-weight: 300;
    margin: 30px 0 15px 0;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-content p {
    font-size: 14px;
    margin: 14px;
}

.landing-body .landing-wrapper #events>div .event-box .event-box-content .event-type {
    background-color: #ffffff;
    color: #7d8286;
    padding: 4px 8px;
    font-size: 18px;
}

.landing-body .landing-wrapper #events>div .event-box:first-child {
    margin-top: 36px;
    margin-bottom: 28px;
}

.landing-body .landing-wrapper #pricing {
    background-color: #ffffff;
    padding: 60px 0 75px 0;
    text-align: center;
}

.landing-body .landing-wrapper #pricing>div {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.landing-body .landing-wrapper #pricing>div h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0 45px 0;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type {
    border: solid 2px #dee4e9;
    height: 100%;
    padding: 30px;
    color: #6a6a7d;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type h3 {
    font-size: 18px;
    margin: 0 0 5px 0;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type .price-for {
    color: #bdc3c9;
    font-weight: bold;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type .currency {
    color: #afafc0;
    position: relative;
    top: -16px;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type .price {
    display: inline-block;
    font-size: 36px;
    color: #2d353c;
    margin-bottom: 30px;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type .term {
    color: #afafc0;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    min-height: 175px;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type ul li {
    padding-top: 6px;
}

.landing-body .landing-wrapper #pricing>div .ui-g-12 .price-type button {
    width: 100%;
}

.landing-body .landing-wrapper #video {
    padding: 60px 0 75px 0;
    text-align: center;
}

.landing-body .landing-wrapper #video>div {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.landing-body .landing-wrapper #video>div h1 {
    font-size: 22px;
    font-weight: 600;
    margin: 15px 0 45px 0;
}

.landing-body .landing-wrapper #footer {
    padding: 30px 0;
    text-align: center;
    background-color: #393b3e;
    border: solid 1px #dee4e9;
}

.landing-body .landing-wrapper #footer>div {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.landing-body .landing-wrapper #footer>div img {
    height: 40px;
}

.landing-body .landing-wrapper #footer>div .landing-menu {
    margin-bottom: 30px;
}

.landing-body .landing-wrapper #footer>div .landing-menu li a {
    color: #dee4e9;
    border-bottom: 1px solid transparent;
    -moz-transition: border 0.3s;
    -o-transition: border 0.3s;
    -webkit-transition: border 0.3s;
    transition: border 0.3s;
}

.landing-body .landing-wrapper #footer>div .landing-menu li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

@media (max-width: 960px) {
    .landing-body {
        background: #f4f4f4;
    }
    .landing-body .landing-menu li {
        font-size: 16px;
        margin-left: 16px;
    }
    .landing-body .landing-wrapper #header .header-top {
        width: 100%;
    }
    .landing-body .landing-wrapper #header .header-content {
        width: 100%;
    }
    .landing-body .landing-wrapper #features>div {
        width: 100%;
    }
    .landing-body .landing-wrapper #events>div {
        width: 100%;
    }
    .landing-body .landing-wrapper #events>div .event-box .event-box-content h3 {
        font-size: 24px;
    }
    .landing-body .landing-wrapper #events>div .event-box .event-box-content p {
        display: none;
    }
    .landing-body .landing-wrapper #pricing>div {
        width: 100%;
        padding: 0 30px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .landing-body .landing-wrapper #video>div {
        width: 100%;
    }
    .landing-body .landing-wrapper #video>div iframe {
        width: 300px;
        height: 169px;
    }
    .landing-body .landing-wrapper #footer>div {
        width: 100%;
    }
    .landing-body .landing-wrapper #footer>div ul {
        display: none;
    }
}

.splash-screen {
    background-color: #eb8c00;
    height: 100%;
}

.splash-screen-loader {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 150px;
    height: 150px;
}

.splash-screen-loader>div {
    background-color: #ffffff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 150px;
    height: 150px;
    -webkit-animation: splash-screen-anim 1s 0s linear infinite;
    animation: splash-screen-anim 1s 0s linear infinite;
}

.splash-screen-loader>div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
}

.splash-screen-loader>div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
}

@-webkit-keyframes splash-screen-anim {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes splash-screen-anim {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

html {
    height: 100%;
}

body {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 13px;
    color: #757575;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #F2F8FA;
}

.layout-wrapper .topbar {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    color: #757575;
    height: 70px;
    padding: 12px 15px;
    border-bottom: solid 1px #dee4e9;
    z-index: 100;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(left, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(left, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(left, #ffffff, #ffffff);
    background-image: -o-linear-gradient(left, #ffffff, #ffffff);
    background-image: linear-gradient(left, #ffffff, #ffffff);
    filter: progid: DXImageTransform.Microsoft.gradient(start-colorStr='#ffffff', end-colorStr='#ffffff', gradientType='1');
}

.layout-wrapper .topbar .topbar-logo img {
    height: 44px;
    vertical-align: middle;
}

.layout-wrapper .topbar #user-display {
    float: right;
    text-align: right;
    margin-top: 2px;
    text-decoration: none;
}

.layout-wrapper .topbar #user-display img {
    vertical-align: middle;
    width: 40px;
    margin-right: 8px;
}

.layout-wrapper .topbar #user-display .username {
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    vertical-align: middle;
    margin-right: 8px;
    color: #757575;
}

.layout-wrapper .topbar #user-display .fa {
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    font-size: 16px;
    vertical-align: middle;
    color: #757575;
}

.layout-wrapper .topbar #user-display:hover .username,
.layout-wrapper .topbar #user-display:hover .fa {
    color: #4f4f4f;
}

.layout-wrapper .topbar #menu-button {
    vertical-align: middle;
    font-size: 16px;
    margin-left: 48px;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.layout-wrapper .topbar #menu-button:hover {
    color: #4f4f4f;
}

.layout-wrapper .topbar .fa-search {
    font-size: 16px;
    vertical-align: middle;
    margin-left: 36px;
}

.layout-wrapper .topbar .topbar-search {
    vertical-align: middle;
    border: 0 none;
    background-color: transparent;
    color: #757575;
    -moz-transition: color 0.3s;
    -o-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.layout-wrapper .topbar .topbar-search:focus {
    outline: 0 none;
}

.layout-wrapper .topbar .topbar-search::-webkit-input-placeholder {
    color: #757575;
}

.layout-wrapper .topbar .topbar-search:-moz-placeholder {
    color: #757575;
}

.layout-wrapper .topbar .topbar-search::-moz-placeholder {
    color: #757575;
}

.layout-wrapper .topbar .topbar-search:-ms-input-placeholder {
    color: #757575;
}

.layout-wrapper .topbar a {
    color: #757575;
}

.layout-wrapper .topbar #topbar-menu {
    display: none;
    position: absolute;
    right: 15px;
    top: 70px;
    width: 250px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.layout-wrapper .topbar #topbar-menu.topbar-menu-visible {
    display: block;
}

.layout-wrapper .topbar #topbar-menu>li a {
    color: #7d8286;
    padding: 10px 16px;
    display: block;
}

.layout-wrapper .topbar #topbar-menu>li a i {
    display: inline-block;
    vertical-align: middle;
}

.layout-wrapper .topbar #topbar-menu>li a span {
    margin-left: 6px;
    display: inline-block;
    vertical-align: middle;
}

.layout-wrapper .topbar #topbar-menu>li a img {
    display: inline-block;
    vertical-align: middle;
}

.layout-wrapper .topbar #topbar-menu>li a .topbar-badge {
    float: right;
    background-color: #36ae2c;
    padding: 2px 8px;
    display: block;
    margin-top: -2px;
    color: #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.layout-wrapper .topbar #topbar-menu>li a:hover {
    background-color: #F6F9FB;
}

.layout-wrapper .topbar #topbar-menu>li ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
}

.layout-wrapper .topbar #topbar-menu>li ul a {
    padding-left: 32px;
}

.layout-wrapper .topbar #topbar-menu>li.menuitem-active>a {
    color: #eb8c00;
}

.layout-wrapper .topbar #topbar-menu>li.menuitem-active>ul {
    display: block;
}

.layout-wrapper .layout-menu-wrapper {
    position: fixed;
    top: 70px;
    height: 100%;
    width: 240px;
    border-right: solid 1px #dee4e9;
    background-color: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
}

.layout-wrapper .layout-menu-wrapper .sidebar-scroll-content {
    display: block;
    height: 100%;
    position: relative;
}

.layout-wrapper .layout-menu-wrapper .sidebar-scroll-content .menu-container {
    padding-bottom: 80px;
}

.layout-wrapper .layout-menu-wrapper .mobile-search {
    display: none;
}

.layout-wrapper .layout-menu-wrapper .layout-menu {
    list-style-type: none;
    margin: 0;
    padding: 0 0 120px 0;
    box-sizing: border-box;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a {
    position: relative;
    color: #7d8286;
    text-decoration: none;
    padding: 10px 16px;
    display: block;
    box-sizing: border-box;
    font-size: 13px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a .menu-badge {
    position: absolute;
    right: 15px;
    top: 13px;
    color: #ffffff;
    padding: 2px 6px;
    background-color: #36ae2c;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a .fa {
    vertical-align: middle;
    font-size: 16px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a .fa:last-child {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a span {
    vertical-align: middle;
    margin-left: 10px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a:hover {
    background-color: #F6F9FB;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a:hover .menu-badge {
    color: #ffffff;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>a.active-menuitem-routerlink {
    color: #eb8c00;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li.active-menuitem>a {
    border-bottom: 0 none;
    background-color: #F6F9FB;
    color: #eb8c00;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li.active-menuitem>a .fa:last-child {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul li a {
    padding-left: 32px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul li>ul li a {
    padding-left: 48px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul li>ul li>ul li a {
    padding-left: 64px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul li>ul li>ul>ul li a {
    padding-left: 80px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul li>ul li>ul>ul>ul li a {
    padding-left: 96px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul li>ul li>ul>ul>ul>ul li a {
    padding: 112px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li>ul li>ul li>ul>ul>ul>ul>ul li a {
    padding: 128px;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li.orange-badge>a .menuitem-badge {
    background-color: #f6ac2b;
    color: #ffffff;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li.purple-badge>a .menuitem-badge {
    background-color: #7e8dcd;
    color: #ffffff;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li.blue-badge>a .menuitem-badge {
    background-color: #eb8c00;
    color: #ffffff;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li .layout-menu-tooltip {
    display: none;
    padding: 0 5px;
    position: absolute;
    left: 76px;
    top: 8px;
    z-index: 101;
    line-height: 1;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li .layout-menu-tooltip .layout-menu-tooltip-text {
    padding: 6px 8px;
    font-weight: 700;
    background-color: #515459;
    color: #ffffff;
    min-width: 75px;
    white-space: nowrap;
    text-align: center;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

.layout-wrapper .layout-menu-wrapper .layout-menu li .layout-menu-tooltip .layout-menu-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #515459;
}

.layout-wrapper .layout-menu-wrapper .layout-menu li .menuitem-badge {
    position: absolute;
    right: 34px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    text-align: center;
    background-color: #36ae2c;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.layout-wrapper .layout-menu-wrapper.layout-menu-dark {
    background-color: #393b3e;
    border-right-color: #45484b;
}

.layout-wrapper .layout-menu-wrapper.layout-menu-dark .mobile-search i {
    color: #ffffff;
}

.layout-wrapper .layout-menu-wrapper.layout-menu-dark .mobile-search input {
    background-color: transparent;
    color: #ffffff;
}

.layout-wrapper .layout-menu-wrapper.layout-menu-dark .layout-menu li a {
    color: #ffffff;
}

.layout-wrapper .layout-menu-wrapper.layout-menu-dark .layout-menu li a:hover {
    background-color: #515459;
}

.layout-wrapper .layout-menu-wrapper.layout-menu-dark .layout-menu li a.active-menuitem-routerlink {
    color: #93bfde;
}

.layout-wrapper .layout-menu-wrapper.layout-menu-dark .layout-menu li.active-menuitem>a {
    background-color: #6a6e73;
}

.layout-wrapper .layout-menu-wrapper .nano .nano-pane .nano-slider {
    background-color: #aaaaaa;
    opacity: 0.3;
    filter: alpha(opacity=30);
}

.layout-wrapper .layout-content {
    padding: 8px;
    margin-top: 70px;
    -moz-transition: margin-left 0.3s;
    -o-transition: margin-left 0.3s;
    -webkit-transition: margin-left 0.3s;
    transition: margin-left 0.3s;
}

.layout-wrapper .layout-footer {
    background-color: #ffffff;
    border-top: 1px solid #dee4e9;
    border-bottom: 1px solid #dee4e9;
    padding: 16px 24px;
}

.layout-wrapper .layout-footer img {
    width: 100px;
}

.layout-wrapper .layout-footer .layout-footer-right {
    float: right;
}

.layout-wrapper .layout-footer a {
    color: #7d8286;
    font-size: 24px;
    margin-left: 12px;
}

@media (min-width: 641px) {
    .layout-wrapper.layout-menu-static .layout-menu-wrapper {
        padding-top: 15px;
        left: 0;
    }
    .layout-wrapper.layout-menu-static .layout-content {
        margin-left: 240px;
    }
    .layout-wrapper.layout-menu-static .layout-footer {
        margin-left: 240px;
    }
    .layout-wrapper.layout-menu-static.layout-menu-static-inactive .layout-menu-wrapper {
        left: -240px;
    }
    .layout-wrapper.layout-menu-static.layout-menu-static-inactive .layout-content {
        margin-left: 0;
    }
    .layout-wrapper.layout-menu-static.layout-menu-static-inactive .layout-footer {
        margin-left: 0;
    }
    .layout-wrapper.layout-menu-overlay .layout-menu-wrapper {
        padding-top: 15px;
        left: -240px;
        z-index: 100;
    }
    .layout-wrapper.layout-menu-overlay .layout-content {
        margin-left: 0;
    }
    .layout-wrapper.layout-menu-overlay .layout-footer {
        margin-left: 0;
    }
    .layout-wrapper.layout-menu-overlay.layout-menu-overlay-active .layout-menu-wrapper {
        left: 0;
    }
    .layout-wrapper.layout-menu-slim #menu-button {
        display: none;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper {
        width: 75px;
        overflow: visible;
        z-index: 100;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .nano {
        overflow: visible;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .nano .nano-content {
        overflow: visible;
        margin-right: 0px !important;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .nano .nano-pane {
        display: none !important;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper.layout-menu-dark .layout-menu>li>ul {
        left: 75px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu {
        padding: 0;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li {
        position: relative;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>a {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>a i:first-child {
        font-size: 19px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>a span,
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>a i:last-child {
        display: none;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>a:hover+.layout-menu-tooltip {
        display: block;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>ul {
        -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        position: absolute;
        top: 0;
        left: 76px;
        min-width: 200px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>ul li a {
        padding-left: 16px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>ul li ul li a {
        padding-left: 32px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>ul li ul ul li a {
        padding-left: 48px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>ul li ul ul ul li a {
        padding-left: 64px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>ul li ul ul ul ul li a {
        padding: 80px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li>ul li ul ul ul ul ul li a {
        padding: 96px;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper .layout-menu>li.active-menuitem>a:hover+.layout-menu-tooltip {
        display: none;
    }
    .layout-wrapper.layout-menu-slim .layout-menu-wrapper.layout-menu-dark .layout-menu>li>ul {
        background-color: #393b3e;
    }
    .layout-wrapper.layout-menu-slim .layout-content {
        margin-left: 75px;
    }
    .layout-wrapper.layout-menu-slim .layout-footer {
        margin-left: 75px;
    }
}

@media (max-width: 640px) {
    .layout-wrapper .layout-menu-wrapper {
        padding-top: 15px;
        left: -240px;
        z-index: 100;
    }
    .layout-wrapper .layout-menu-wrapper .mobile-search {
        display: block;
        padding: 10px 16px;
    }
    .layout-wrapper .layout-menu-wrapper .mobile-search .fa {
        font-size: 16px;
    }
    .layout-wrapper .layout-menu-wrapper .mobile-search input {
        border: 0 none;
        font-size: 13px;
        font-family: "Roboto", "Helvetica Neue", sans-serif;
        padding-left: 6px;
        color: #757575;
    }
    .layout-wrapper .layout-menu-wrapper .mobile-search input:focus {
        outline: 0 none;
    }
    .layout-wrapper .layout-content {
        margin-left: 0;
    }
    .layout-wrapper .layout-footer {
        margin-left: 0;
    }
    .layout-wrapper .topbar .topbar-logo {
        width: 144px;
        display: block;
        margin: 0 auto;
    }
    .layout-wrapper .topbar .topbar-search-icon,
    .layout-wrapper .topbar .topbar-search {
        display: none;
    }
    .layout-wrapper .topbar #menu-button {
        font-size: 24px;
        float: left;
        margin-left: 0;
        margin-top: -36px;
    }
    .layout-wrapper .topbar #user-display {
        margin-top: -42px;
    }
    .layout-wrapper .topbar #user-display .username {
        display: none;
    }
    .layout-wrapper.layout-menu-active .topbar {
        z-index: 999999998;
    }
    .layout-wrapper.layout-menu-active .layout-menu-wrapper {
        left: 0;
        z-index: 999999999;
    }
    .layout-wrapper .layout-mask {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #424242;
        top: 0;
        left: 0;
        z-index: 999999997;
        opacity: 0.9;
        filter: alpha(opacity=90);
    }
}