<div class="modal-header">
    <h4 class="modal-title">Sign up. It is fast and easy.</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Choose Username">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="Your Email Address">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Choose Password">
                <span class="md-line"></span>
            </div>
            <div class="input-group">
                <input type="password" class="form-control" placeholder="Confirm Password">
                <span class="md-line"></span>
            </div>
            <div class="row m-t-25">
                <div class="col-xs-12">
                    <div class="border-checkbox-section">
                        <div class="border-checkbox-group border-checkbox-group-primary">
                            <input class="border-checkbox" type="checkbox" id="checkbox1">
                            <label class="border-checkbox-label">
                                <span class="text-inverse">I read and accept Terms &amp; Conditions</span>
                            </label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row m-t-15">
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center">Sign up now</button>
                </div>
            </div>
            <hr/>
        </div>

    </form>

</div>