<div class="article-list">
    <div class="container">
        <div>
            Any important information or notifications that are applicable to your will be displayed here.
        </div>
        <div class='row m-0'>
            <div class='col-md-2 p-0'>
                <i class="fa fa-upload"></i>Upload
            </div>
            <div class='col-md-10 m-t-15'>
                <div>
                    <p class="m-0"> Your store url is: <a href='https://www.vectorsale.com/vendor/vs-stock'>https://www.vectorsale.com/vendor/vs-stock</a>
                    </p>
                    <p><span>and you've been a member since: May 25, 2017.</span></p>
                </div>
            </div>               
        </div>

        <div class="row articles">
            <div class="col-sm-6 col-md-3 item text-align-center">
                <p>Total Income</p>
                <h2 class="name text-success">$0.00</h2>
            </div>
            <div class="col-sm-6 col-md-3 item text-align-center">
                <p>Total due</p>
                <h2 class="name">$0.00</h2>
                <p class="description">since last payment</p><a href="#" class="action"></a></div>
            <div class="col-sm-6 col-md-3 item text-align-center">
                <p>Portfolio</p>
                <h2 class="name text-success">22</h2>
                <p class="description">approved items</p><a href="#" class="action"></a>
            </div>
            <div class="col-sm-6 col-md-3 item text-align-center">
                <p>Awaiting</p>
                <h2 class="name">2</h2>
                <p class="description">pending items</p><a href="#" class="action"></a>
            </div>
        </div>
        <table class="col-md-12">
            <thead style="background-color:#fafafa; border-bottom:1px solid #ddd;">
                <tr>
                <th>
                    Author
                </th>
                <th>
                    Comment
                </th>
                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let details of uploadDetails">
                    <td><label class="forpsize">{{details.author}}</label></td>
                    <td><label class="forpsize">{{details.comment}}</label></td>
                </tr>
                <tr *ngIf="uploadDetails.length==0">
                    <td colspan=6><label class="forpsize">No comments found</label></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>