div{
    margin-bottom:15px;
}

.Label-margin-top{
    margin-bottom: 0px;
    margin-top:8px;
}

.margin-edges{
    margin-left: 0px;
    margin-right: 0px;
}

.custombtn{
    background-color: #48C6D4;
    color:#ffffff;    
}

.custombtn:hover{
    background-color: #F66C7B !important;
}

textarea {
    resize: none;
}