<h4>Profile</h4>
<form>
  <div>
      <label>First Name</label>
      <input type="text" class="form-control" placeholder="Enter first name">
  </div>  
  <div>
      <label>Last Name</label>
      <input type="text" class="form-control" placeholder="Enter last name">
  </div>
  <div class="row margin-edges">
      <label class="col-md-2 p-0 Label-margin-top">Display Name</label>
      <select class="form-control col-md-6 p-0" id="name">
          <option>Sandeep</option>
          <option>Pavan</option>
          <option>Ramya</option>
          <option>Praveen</option>
        </select>
  </div> 
  <div>
      <label>Email Address</label>
      <input type="email" class="form-control" placeholder="Enter email address">
  </div>
  <div>
      <label>Line 1</label>
      <input type="text" class="form-control" placeholder="Enter address 1">
  </div>
  <div>
      <label>Line 2</label>
      <input type="text" class="form-control" placeholder="Enter address 2">
  </div>
  <div>
      <label>City</label>
      <input type="text" class="form-control" placeholder="Enter city">
  </div>
  <div>
      <label>Zip/Postal code</label>
      <input type="text" class="form-control" placeholder="Enter Zip/Postal code">
  </div>
  <div class="row margin-edges">
      <label class="col-md-2 p-0 Label-margin-top">Country</label>
      <select class="form-control col-md-6 p-0" (change)='onGroupChange($event)' data-live-search="true">
        <option>--Select--</option>  
        <option *ngFor="let country of countriesList" value={{country.value}}>
              {{country.label}}
          </option>
      </select>
  </div>
  <div>
      <label>State/Province</label>
      <input type="text" class="form-control" placeholder="Enter State/Province">
  </div>
  <div>
      <label>New Password</label>
      <input type="password" class="form-control" placeholder="Enter password">
  </div>
  <div>
      <label>Re-enter Password</label>
      <input type="password" class="form-control" placeholder="Re-enter Password">
  </div>
  <div>
      <label> note after changing your password, you must log back in.</label>
  </div>
  <div class="row margin-edges">
      <label class='col-md-2 p-0'>Biographical Info</label>
      <textarea rows="5" cols="5" class="form-control col-md-6 p-0" placeholder="Default textarea"></textarea>
  </div>
  
  <div>
      <label>Website</label>
      <input type="text" class="form-control" placeholder="Enter website">
  </div>
  <div>
        <button class="btn btn-sm custombtn">Save Changes</button>
  </div>
</form>