.m-n-l-10 {
    margin-left: -10px;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-0 {
    margin-bottom: 0px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-t-0 {
    margin-top: 0px !important;
}

.m-t-2 {
    margin-top: 5px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-r-0 {
    margin-right: 0px !important;
}

.m-t-65 {
    margin-top: 65px !important;
}

.m-t-80 {
    margin-top: 80px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-auto {
    margin: auto;
}

.m-l-25-per {
    margin-left: 25% !important;
}