// vector sale manual css
// Topbar css
.dashboard-navbar {
    height: 65px;
}

.dashboard-navbar .fa-user {
    margin-top: 20px
}


.dashboard-brand {
    float: left;
}

.dashboard-logo {
    margin-left: 10px;
    height: 30px;
}

.dashboard-user {
    float: right;
}

.navbar-custom {
    border-bottom: 1px #d0cccc solid;
}

.navbar ul.navbar-right {
    margin-right: 70px;
}

.navbar-height {
    min-height: 50px !important
}

.navbar-height ul li {
    line-height: 3 !important;
}

.sub-items-menu{
    line-height: 2 !important;
}
 
/* login form css */

.input-group {
    display: flex;
}

.auth-box {
    width: 65%;
    margin-left: 15%;
}

/*footer css */

.footer-container {
    background-color: #263238;
}

.footer-content {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 20px;
    color: #909090;
}

.footer-inner-content {
    padding-right: 20px;
    padding-left: 20px;
}

.footer-widget-text {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 20px
}

.footer-widget-pages ul {
    list-style: none;
    padding-left: 0px;
}

.footer-inner-content li {
    border-bottom: 1px solid #424242;
}

.footer-inner-content li:first-child {
    padding-top: 0px;
}

.footer-inner-content li:last-child {
    border-bottom: 0;
}

.footer-widget-pages li {
    padding: 2px 0px;
    color: #B8B8B8;
    margin: 0;
    list-style-type: none;
}

.footer-widget-pages h3 {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: 0px;
}

.footer-widget-pages li a {
    text-transform: uppercase;
    font-family: Roboto;
    color: #bababa;
}

.footer-widget-button {
    background: #6b953f none repeat scroll 0 0;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    padding: 5px 25px;
    text-align: center;
    text-transform: uppercase;
}

.footer-widget-button a {
    color: #fff;
}

.widget-marketplace li {
    padding-bottom: 15px;
    padding-top: 10px;
}

.widget-marketplace h3 {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
}

.widget-marketplace ul {
    list-style: none;
    padding-left: 0px
}

.widget-avatar {
    margin: 5px 20px 0 0;
    float: left;
}


.widget-avatar img {
    width: 80px;
    height: 80px;
}

.mp-widget-content .time {
    color: grey;
    font-size: 11px;
    text-transform: uppercase;
}

.mp-widget-content h3 a {
    color: #bababa;
    line-height: normal;
    font-size: 16px;
    text-transform: none!important;
}

.widget-download-price {
    color: #92c418;
    font-weight: bold;
}

.copy-rights {
    color: #909090;
}

.copy-rights ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.copy-rights ul li a {
    color: #fff;
}

.copy-rights ul li {
    float: left;
    padding: 10px
}

.copyright-border {
    border-top: 4px double #3d5460;
}

.copyright-message {
    float: left;
    font-size: 12px;
    margin: 20px 10px 10px 0px;
}

// common css
.pointer {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

// For gap between lines -- line-height
.line-hgt-40px {
    line-height: 40px;
}

//inline display
.display-inline {
    display: -webkit-box;
}

.fz-40 {
    font-size: 40px;
}

.modal-content {
    animation: modelMove 0.2s;
}

@keyframes modelMove {
    0% {
        top: -75px;
    }
    25% {
        top: -25px;
    }
    30% {
        top: 0px;
    }
}

.model-content-close {
    animation: modelclose 0.5s;
}

@keyframes modelclose {
    0% {
        top: 200px;
    }
    25% {
        top: 350px;
    }
    30% {
        top: 450px;
    }
    40% {
        bottom: 0px;
    }
}